<%= render "administration/form_errors", resource: @cash_register %>

<%= simple_form_for @cash_register,
    builder: AdminFormBuilder,
    defaults: { input_html: { class: :large } },
    alias_set: params[:alias_set] do |f| %>

  <table>

    <%= f.input :nimi %>
    <%= f.input :kassa, collection: tili_options, include_blank: t('administration.cash_registers.edit.no_select') %>
    <%= f.input :pankkikortti, collection: tili_options, include_blank: t('administration.cash_registers.edit.no_select') %>
    <%= f.input :luottokortti, collection: tili_options, include_blank: t('administration.cash_registers.edit.no_select') %>
    <%= f.input :kateistilitys, collection: tili_options, include_blank: t('administration.cash_registers.edit.no_select') %>
    <%= f.input :kassaerotus, collection: tili_options, include_blank: t('administration.cash_registers.edit.no_select') %>
    <%= f.input :kateisotto, collection: tili_options, include_blank: t('administration.cash_registers.edit.no_select') %>
    <%= f.input :kustp, collection: kustp_options, include_blank: t('administration.cash_registers.edit.no_select') %>
    <%= f.input :toimipaikka, collection: toimipaikka_options, include_blank: t('administration.cash_registers.edit.no_select') %>
    <%= f.input :email %>

    <%= render 'administration/resource_timestamps_and_users', resource: @cash_register %>

  </table>

  <br>

  <%= f.button :submit %>

<% end %>
