<%= render "administration/form_errors", resource: @cash_register %>

<%= form_for @cash_register do |f| %>

  <table>

    <tr>
      <th><%= f.label :nimi %></th>
      <td><%= f.text_field :nimi %></td>
    </tr>

    <tr>
      <th><%= f.label :kustp %></th>
      <td>
        <%= f.select :kustp, kustp_options,
            include_blank: t('administration.cash_registers.edit.no_select') %>
      </td>
    </tr>

    <tr>
      <th><%= f.label :toimipaikka %></th>
      <td>
        <%= f.select :toimipaikka, toimipaikka_options,
            include_blank: t('administration.cash_registers.edit.no_select') %>
      </td>
    </tr>

    <tr>
      <th><%= f.label :kassa %></th>
      <td>
          <%= f.select :kassa, tili_options,
              include_blank: t('administration.cash_registers.edit.no_select') %>
      </td>
    </tr>

    <tr>
      <th><%= f.label :pankkikortti %></th>
      <td>
        <%= f.select :pankkikortti, tili_options,
            include_blank: t('administration.cash_registers.edit.no_select') %>
      </td>
    </tr>

    <tr>
      <th><%= f.label :luottokortti %></th>
      <td>
        <%= f.select :luottokortti, tili_options,
            include_blank: t('administration.cash_registers.edit.no_select') %>
      </td>
    </tr>

    <tr>
      <th><%= f.label :kateistilitys %></th>
      <td>
        <%= f.select :kateistilitys, tili_options,
            include_blank: t('administration.cash_registers.edit.no_select') %>
      </td>
    </tr>

    <tr>
      <th><%= f.label :kassaerotus %></th>
      <td>
        <%= f.select :kassaerotus, tili_options,
            include_blank: t('administration.cash_registers.edit.no_select') %>
      </td>
    </tr>

    <tr>
      <th><%= f.label :kateisotto %></th>
      <td>
        <%= f.select :kateisotto, tili_options,
            include_blank: t('administration.cash_registers.edit.no_select') %>
      </td>
    </tr>

    <%= render 'administration/resource_timestamps_and_users', resource: @cash_register %>

  </table>

  <%= render 'administration/actions', f: f %>

<% end %>
