<%= render "administration/header", text: t('.header') %>

<% if @downloads.empty? %>

  <font class='message'>
    <%=t '.no_downloads' %>
  </font>

<% else %>

  <table>

    <tr>
      <th><%=t '.report_name' %></th>
      <th><%=t '.created_at' %></th>
      <th><%=t '.files' %></th>
      <th></th>
    </tr>

    <% @downloads.each do |download| %>
      <tr class='aktiivi'>
        <td>
          <%= download.report_name %>
        </td>

        <td>
          <%=l download.created_at %>
        </td>

        <td>
          <% download.files.each do |file| %>
            <%= link_to file.filename, download_file_path(file), target: '_blank' %><br>
          <% end %>
        </td>

        <td>
          <%= link_to t('.destroy'), download_path(download), method: :delete %><br>
        </td>
      </tr>
    <% end %>

  </table>

<% end %>
