<%= form_for(@packing_area) do |f| %>
  <%= render "administration/form_errors", resource: @packing_area %>

  <table>
    <tr>
      <th><%= f.label :nimi %></th>
      <td><%= f.text_field :nimi %></td>
    </tr>

    <tr>
      <th><%= f.label :lokero %></th>
      <td><%= f.text_field :lokero %></td>
    </tr>

    <tr>
      <th><%= f.label :prio %></th>
      <td><%= f.text_field :prio %></td>
    </tr>

    <tr>
      <th><%= f.label :pakkaamon_prio %></th>
      <td><%= f.text_field :pakkaamon_prio %></td>
    </tr>

    <tr>
      <th><%= f.label :varasto %></th>
      <td>
        <%= collection_select(:packing_area, :varasto, @storages, :tunnus, :nimitys,
            include_blank: false, prompt: true  ) %>
      </td>
    </tr>

    <tr>
      <th><%= f.label :printteri0 %></th>
      <td>
        <%= collection_select(:packing_area, :printteri0, @printers, :tunnus, :kirjoitin,
            include_blank: false, prompt: true ) %>
      </td>
    </tr>

    <tr>
      <th><%= f.label :printteri1 %></th>
      <td>
        <%= collection_select(:packing_area, :printteri1, @printers, :tunnus, :kirjoitin,
            include_blank: false, prompt: true ) %>
      </td>
    </tr>

    <tr>
      <th><%= f.label :printteri2 %></th>
      <td>
        <%= collection_select(:packing_area, :printteri2, @printers, :tunnus, :kirjoitin,
            include_blank: false, prompt: true ) %>
      </td>
    </tr>

    <tr>
      <th><%= f.label :printteri3 %></th>
      <td>
        <%= collection_select(:packing_area, :printteri3, @printers, :tunnus, :kirjoitin,
            include_blank: false, prompt: true ) %>
      </td>
    </tr>

    <tr>
      <th><%= f.label :printteri4 %></th>
      <td>
        <%= collection_select(:packing_area, :printteri4, @printers, :tunnus, :kirjoitin,
            include_blank: false, prompt: true ) %>
      </td>
    </tr>

    <tr>
      <th><%= f.label :printteri6 %></th>
      <td>
        <%= collection_select(:packing_area, :printteri6, @printers, :tunnus, :kirjoitin,
            include_blank: false, prompt: true ) %>
      </td>
    </tr>

    <tr>
      <th><%= f.label :printteri7 %></th>
      <td>
        <%= collection_select(:packing_area, :printteri7, @printers, :tunnus, :kirjoitin,
            include_blank: false, prompt: true ) %>
      </td>
    </tr>

    <%= render 'administration/resource_timestamps_and_users', resource: @packing_area %>
  </table>

  <%= render 'administration/actions', f: f %>
<% end %>
