<%= render "administration/header", text: t('.header') %>

<%= button_to_new :transport %>

<hr>

<table>
  <thead>
    <tr>
      <th><%= Transport.human_attribute_name(:hostname) %></th>
      <th><%= Transport.human_attribute_name(:port) %></th>
      <th><%= Transport.human_attribute_name(:username) %></th>
      <th><%= Transport.human_attribute_name(:password) %></th>
      <th><%= Transport.human_attribute_name(:path) %></th>
    </tr>
  </thead>

  <tbody>
    <% @transports.each do |transport| %>
      <tr>
        <td><%= transport.transportable_type %></td>
        <td><%= link_to transport.hostname, edit_transport_path(transport) %></td>
        <td><%= transport.port %></td>
        <td><%= transport.username %></td>
        <td><%= transport.password %></td>
        <td><%= transport.path %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= button_to_new :transport %>
