<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= @transport.customer %>
</p>

<p>
  <strong>Hostname:</strong>
  <%= @transport.hostname %>
</p>

<p>
  <strong>Username:</strong>
  <%= @transport.username %>
</p>

<p>
  <strong>Password:</strong>
  <%= @transport.password %>
</p>

<p>
  <strong>Path:</strong>
  <%= @transport.path %>
</p>

<%= link_to 'Edit', edit_transport_path(@transport) %> |
<%= link_to 'Back', transports_path %>
