<%= form_tag supplier_product_informations_path, method: :get do %>
  <table class="margin-bottom-20 search-fields">
    <tr>
      <th>
        <%= label_tag :manufacturer_name,
                      SupplierProductInformation.human_attribute_name(:manufacturer_name) %>
      </th>
      <td>
        <%= select_tag(:manufacturer_name,
                       options_for_select(manufacturer_options, params[:manufacturer_name]),
                       class:    'chosen-select',
                       include_blank: true) %>
      </td>
    </tr>
    <tr>
      <th>
        <%= label_tag :product_name,
                      SupplierProductInformation.human_attribute_name(:product_name) %>
      </th>
      <td>
        <%= search_field_tag :product_name, params[:product_name] %>
      </td>
    </tr>
    <tr>
      <th>
        <%= label_tag :product_id,
                      SupplierProductInformation.human_attribute_name(:product_id) %>
      </th>
      <td>
        <%= search_field_tag :product_id, params[:product_id] %>
      </td>
    </tr>
    <tr>
      <th>
        <%= label_tag :description,
                      SupplierProductInformation.human_attribute_name(:description) %>
      </th>
      <td>
        <%= search_field_tag :description, params[:description] %>
      </td>
    </tr>
    <tr>
      <th>
        <%= label_tag :category_text1,
                      SupplierProductInformation.human_attribute_name(:category_text1) %>
      </th>
      <td>
        <%= select_tag :category_text1, category_text_options(1) %>
      </td>
    </tr>
    <tr>
      <th>
        <%= label_tag :category_text2,
                      SupplierProductInformation.human_attribute_name(:category_text2) %>
      </th>
      <td>
        <%= select_tag :category_text2, category_text_options(2) %>
      </td>
    </tr>
    <tr>
      <th>
        <%= label_tag :category_text3,
                      SupplierProductInformation.human_attribute_name(:category_text3) %>
      </th>
      <td>
        <%= select_tag :category_text3, category_text_options(3) %>
      </td>
    </tr>
    <tr>
      <th>
        <%= label_tag :category_text4,
                      SupplierProductInformation.human_attribute_name(:category_text4) %>
      </th>
      <td>
        <%= select_tag :category_text4, category_text_options(4) %>
      </td>
    </tr>
    <tr>
      <th>
        <%= label_tag :supplier_part_number,
                      SupplierProductInformation.human_attribute_name(:supplier_part_number) %>
      </th>
      <td>
        <%= search_field_tag :supplier_part_number, params[:supplier_part_number] %>
      </td>
    </tr>
    <tr>
      <th>
        <%= label_tag :manufacturer_part_number,
                      SupplierProductInformation.human_attribute_name(:manufacturer_part_number) %>
      </th>
      <td>
        <%= search_field_tag :manufacturer_part_number, params[:manufacturer_part_number] %>
      </td>
    </tr>
    <tr>
      <th>
        <%= label_tag :manufacturer_ean,
                      SupplierProductInformation.human_attribute_name(:manufacturer_ean) %>
      </th>
      <td>
        <%= search_field_tag :manufacturer_ean, params[:manufacturer_ean] %>
      </td>
      <td class="back">
        <%= submit_tag t('administration.accounts.index.button_search') %>
      </td>
    </tr>
  </table>
<% end %>
