<tr>
  <td>
    <%= check_box_tag "supplier_product_informations[#{s.id}]" %>
  </td>
  <td><%= s.product_id %></td>
  <td><%= s.manufacturer_ean %></td>
  <td><%= s.product_name %></td>
  <td><%= s.description %></td>
  <td><%= s.supplier_name %></td>
  <td><%= s.net_price %></td>
  <td><%= s.available_quantity %></td>
</tr>
