<%= render "administration/header", text: t('.header') %>

<%= button_to t('.button_new'), new_carrier_path, method: :get if update_access? %>

<br /><br />

<%= form_tag carriers_path, method: :get do %>

  <table>
    <tr>
      <th>
        <%= sortable "koodi" %>
        <br />
        <%= text_field_tag :koodi, params[:koodi] %>
      </th>
      <th>
        <%= sortable "nimi" %>
        <br />
        <%= text_field_tag :nimi, params[:nimi] %>
      </th>
      <th>
        <%= sortable "neutraali" %>
      </th>
      <th>
        <%= sortable "pakkauksen_sarman_minimimitta" %>
        <br />
        <%= text_field_tag :pakkauksen_sarman_minimimitta, params[:pakkauksen_sarman_minimimitta] %>
      </th>
      <th class="back">
        <%= submit_tag t('.button_search') %>
      </th>
    </tr>

  <% @carriers.each do |carrier| %>
    <tr>
      <td><%= link_to carrier.koodi, edit_carrier_path(carrier.id) %></td>
      <td><%= carrier.nimi %></td>
      <td><%= carrier.neutral? ? t("administration.carriers.neutraali_options.true") : "" %></td>
      <td><%= carrier.pakkauksen_sarman_minimimitta %></td>
      <td class="back"></td>
    </tr>
  <% end %>

  </table>
<% end %>

<br/>

<%= button_to t('.button_new'), new_carrier_path, method: :get if update_access? %>
