<% if resource.persisted? %>
  <tr>
    <th>
      <%= label_tag :laatija, t('Laatija') %>
    </th>
    <td>
      <%= resource.laatija %>
      <%="- #{l(resource.luontiaika)}" if resource.luontiaika %>
    </td>
  </tr>
  <tr>
    <th>
      <%= label_tag :muuttaja, t('Muuttaja') %>
    </th>
    <td>
      <%= resource.muuttaja %>
      <%="- #{l(resource.muutospvm)}" if resource.muutospvm %>
    </td>
  </tr>
<% end %>
