<% if resource.persisted? %>
  <tr>
    <th>
      <%= label_tag :laatija, resource.class.human_attribute_name(:laatija) %>
    </th>
    <td>
      <%= user_name resource.laatija %>
      <%="- #{l(resource.luontiaika)}" if resource.luontiaika %>
    </td>
  </tr>
  <tr>
    <th>
      <%= label_tag :muuttaja, resource.class.human_attribute_name(:muuttaja) %>
    </th>
    <td>
      <%= user_name resource.muuttaja %>
      <%="- #{l(resource.muutospvm)}" if resource.muutospvm %>
    </td>
  </tr>
<% end %>
