<table id='translations' width='100%'>

  <tr>
    <th><%= label_tag t('administration.translations.language') %></th>
    <th><%= label_tag t('.text') %></th>
    <th><%= label_tag t('helpers.submit.destroy', model: '') %></th>
  </tr>

  <%= f.fields_for :translations do |translation| %>
    <%= render 'administration/translation_fields', f: translation %>
  <% end %>

</table>

<br>

<%= link_to_add_association t('administration.translations.link_new'), f, :translations,
    data: { association_insertion_method: :append, association_insertion_node: '#translations'},
    partial: 'administration/translation_fields' %>
