<table width='460' class='admin-view-30'>
  <tr>
    <th><%= f.label :toim_ovttunnus %></th>
    <td><%= f.text_field :toim_ovttunnus, class: :large %></td>
  </tr>
  <tr>
    <th><%= f.label :toim_nimi %></th>
    <td><%= f.text_field :toim_nimi, class: :large %></td>
  </tr>
  <tr>
    <th><%= f.label :toim_nimitark %></th>
    <td><%= f.text_field :toim_nimitark, class: :large %></td>
  </tr>
  <tr>
    <th><%= f.label :toim_osoite %></th>
    <td><%= f.text_field :toim_osoite, class: :large %></td>
  </tr>
  <tr>
    <th><%= f.label :toim_postino %></th>
    <td><%= f.text_field :toim_postino, class: :large %></td>
  </tr>
  <tr>
    <th><%= f.label :toim_postitp %></th>
    <td><%= f.text_field :toim_postitp, class: :large %></td>
  </tr>
  <tr>
    <th><%= f.label :toim_maa %></th>
    <td><%= f.text_field :toim_maa, class: :large %></td>
  </tr>
</table>
