<table width='460' class='admin-view-30'>
  <tr>
    <th><%= f.label :kuljetusvakuutus_tuotenumero %></th>
    <td><%= f.text_field :kuljetusvakuutus_tuotenumero, class: :large %></td>
  </tr>
  <tr>
    <th><%= f.label :kuljetusvakuutus %></th>
    <td><%= f.text_field :kuljetusvakuutus, class: :large %></td>
  </tr>
  <tr>
    <th><%= f.label :kuljetusvakuutus_tyyppi %></th>
    <td><%= f.select :kuljetusvakuutus_tyyppi, transportation_insurance_type_options, {}, class: 'chosen-select' %></td>
  </tr>
</table>
