<tr class='nested-fields'>
  <td>
    <%= f.text_field :lahdon_viikonpvm, class: :large %>
  </td>

  <td>
    <%= f.text_field :lahdon_kellonaika, class: :large %>
  </td>

  <td>
    <%= f.text_field :viimeinen_tilausaika, class: :large %>
  </td>

  <td>
    <%= f.text_field :kerailyn_aloitusaika, class: :large %>
  </td>

  <td>
    <%= f.text_field :terminaalialue, class: :large %>
  </td>

  <td>
    <%= f.text_field :asiakasluokka, class: :large %>
  </td>

  <td>
    <%= f.text_field :varasto, class: :large %>
  </td>

  <td>
    <%= f.text_field :aktiivi, class: :large %>
  </td>

  <td>
    <%= f.text_field :ohjausmerkki, class: :large %>
  </td>

  <td>
    <%= f.pupenext_date_field :alkupvm, class: :large %>
  </td>

  <td>
    <%= f.check_box :_destroy %>
  </td>
</tr>

