<tr class='nested-fields'>
  <td>
    <%= f.select :lahdon_viikonpvm, day_of_the_week_options, { include_blank: t('administration.delivery_methods.departures.no_selected.day') }, class: 'chosen-select' %>
  </td>

  <td>
    <%= f.text_field :lahdon_kellonaika, class: :large %>
  </td>

  <td>
    <%= f.text_field :viimeinen_tilausaika, class: :large %>
  </td>

  <td>
    <%= f.text_field :kerailyn_aloitusaika, class: :large %>
  </td>

  <td>
    <%= f.select :terminaalialue, terminal_area_options, { include_blank: t('administration.delivery_methods.departures.no_selected.terminal_area') }, class: 'chosen-select' %>
  </td>

  <td>
    <%= f.select :asiakasluokka, customer_category_options, { include_blank: t('administration.delivery_methods.departures.no_selected.customer_category') }, class: 'chosen-select' %>
  </td>

  <td>
    <%= f.select :varasto, warehouse_options, { include_blank: t('administration.delivery_methods.departures.no_selected.warehouse') }, class: 'chosen-select' %>
  </td>

  <td>
    <%= f.text_field :aktiivi, class: :large %>
  </td>

  <td>
    <%= f.text_field :ohjausmerkki, class: :large %>
  </td>

  <td>
    <%= f.text_field :alkupvm, class: :large %>
  </td>

  <td>
    <%= f.check_box :_destroy %>
  </td>
</tr>

