<%= render "administration/form_errors", resource: @delivery_method %>

<%= form_for @delivery_method do |f| %>

  <table>
    <tr>
      <th><%= f.label :selite %></th>
      <td><%= f.text_field :selite %></td>
    </tr>
    <tr>
      <th><%= f.label :lahdon_selite %></th>
      <td><%= f.text_field :lahdon_selite %></td>
    </tr>
    <tr>
      <th><%= f.label :virallinen_selite %></th>
      <td><%= f.select :virallinen_selite, grouped_options_for_select(PostalOfficialLegend.options, @delivery_method.virallinen_selite) %></td>
    </tr>
    <tr>
      <th><%= f.label :tulostustapa %></th>
      <td><%= f.select :tulostustapa, print_method_options %></td>
    </tr>
    <tr>
      <th><%= f.label :rahtikirja %></th>
      <td><%= f.select :rahtikirja, waybill_options %></td>
    </tr>
    <tr>
      <th><%= f.label :logy_rahtikirjanumerot %></th>
      <td><%= f.select :logy_rahtikirjanumerot, logy_waybill_number_options %></td>
    </tr>
    <tr>
      <th><%= f.label :osoitelappu %></th>
      <td><%= f.select :osoitelappu, label_options %></td>
    </tr>
    <tr>
      <th><%= f.label :rahdinkuljettaja %></th>
      <td><%= f.select :rahdinkuljettaja, carrier_options,
              { include_blank: t('administration.delivery_methods.edit.no_select') } %></td>
    </tr>
    <tr>
      <th><%= f.label :rahti_tuotenumero %></th>
      <td><%= f.text_field :rahti_tuotenumero %></td>
    </tr>
    <tr>
      <th><%= f.label :sopimusnro %></th>
      <td><%= f.text_field :sopimusnro %></td>
    </tr>
    <tr>
      <th><%= f.label :rahtikirjakopio_email %></th>
      <td><%= f.text_field :rahtikirjakopio_email %></td>
    </tr>
    <tr>
      <th><%= f.label :jvkulu %></th>
      <td><%= f.text_field :jvkulu %></td>
    </tr>
    <tr>
      <th><%= f.label :jvkielto %></th>
      <td><%= f.select :jvkielto, cash_on_delivery_prohibition_options %></td>
    </tr>
  </table>

  <%= render 'administration/actions', f: f %>

<% end %>
