<%= render "administration/form_errors", resource: @delivery_method %>

<%= form_for @delivery_method do |f| %>

  <div style='float: left; padding: 10px; width: 800px;'>
    <%= render 'basic', f: f %>
  </div>

  <div style='float: left; padding: 10px; width: 460px;'>
    <%= render 'administration/translations', f: f %>
  </div>

  <div style='float: left; padding: 10px; width: 460px;'>
    <%= render 'addresses', f: f %>
  </div>

  <div style='float: left; padding: 10px; width: 460px;'>
    <%= render 'cash_on_delivery', f: f %>
  </div>

  <div style='float: left; padding: 10px; width: 460px;'>
    <%= render 'adr', f: f %>
  </div>

  <div style='float: left; padding: 10px; width: 460px;'>
    <%= render 'cargo_insurance', f: f %>
  </div>

  <div style='float: left; padding: 10px; width: 460px;'>
    <%= render 'advanced', f: f %>
  </div>

  <div style='clear: both;'>
    <%= render 'administration/actions', f: f %>
  </div>

<% end %>
