<%= render "administration/header", text: t('.header') %>

<table>

  <tr>
    <th>
      <%=t '.order' %>
    </th>

    <th>
      <%=t '.invoice' %>
    </th>

    <th>
      <%=t '.paid_at' %>
    </th>

    <th>
      <%=t '.customer_name' %>
    </th>

    <th>
      <%=t '.sku' %>
    </th>

    <th class='text-right'>
      <%=t '.qty' %>
    </th>

    <th class='text-right'>
      <%=t '.avg_acquisition_cost' %>
    </th>

    <th class='text-right'>
      <%=t '.inventory_value' %>
    </th>
  </tr>

  <% @data.each do |row| %>
    <tr class='aktiivi'>
      <td>
        <%= row[:order] %>
      </td>

      <td>
        <%= row[:invoice] %>
      </td>

      <td>
        <%=l row[:paid_at] %>
      </td>

      <td>
        <%= row[:customer] %>
      </td>

      <td>
        <%= row[:sku] %>
      </td>

      <td class='text-right'>
        <%= row[:qty] %> <%= row[:unit] %>
      </td>

      <td class='text-right'>
        <%= number_to_currency row[:avg_acquisition_cost] %>
      </td>

      <td class='text-right'>
        <%= number_to_currency row[:inventory_value] %>
      </td>
    </tr>
  <% end %>

  <tr>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th class='text-right'>
      <%= number_to_currency @total %>
    </th>
  </tr>

</table>

<br><br>
