<%= render "administration/header", text: t('.header') %>

<table>
  <tr>
    <th><%= t('.voucher')%></th>
    <th><%= t('.purchase_price') %></th>
    <th><%= t('.depreciation_for_the_period') %></th>
    <th><%= t('.remaining_balance') %></th>
  </tr>
  <!-- Kaikki tilit loop -->
  <% @report.data.each do |f, v| %>
    <tr>
      <td><%= f %> = <%= v[:nimi] %></td>
    </tr>
    <tr>
      <td align='right'><%= t('.depreciation_period') %> <%= "#{v[:poistoaika]}" + t('.month')  %></td>
    </tr>
    <!-- Kaikki tilikaudet loop -->
    <% v[:tilikaudet].each do |tk, v| %>
      <tr>
        <td><%= t('.fiscal_period')%></td>
        <td colspan='100%'><%= v[:tilikausi] %></td>
      </tr>
      <tr>
        <td><%= t('.fiscal_period_total') %></td>
        <td><%= v[:hankinnat] %></td>
        <td><%= v[:tilikauden_poistot] %></td>
        <td><%= v[:menojaannos] %></td>
      </tr>
    <% end %>
    <tr>
      <td><%= t('.account_total') %></td>
      <td><%= v[:hankinnat_yht] %></td>
      <td><%= v[:tilikauden_poistot_yht] %></td>
      <td><%= v[:menojaannos_yht] %></td>
    </tr>
    <tr><td colspan='100%' height='30'></td></tr>
  <% end %>
</table>
