<%= render "administration/header", text: t('.header') %>
<table>
  <tr>
  <th><%= t('.additions') %></th>
  <th><%= t('.btl_depreciation') %></th>
  <th><%= t('.planned_depreciation') %></th>
  <th><%= t('.fiscal_period_depreciation') %></th>
  <th><%= t('.btl_vs_planned_difference') %></th>
  <th><%= t('.amounted_difference') %></th>
  </tr>

  <% @report.data.each do |k, dat| %>
    <tr>
      <td colspan='7'><%= t('.account') %>
        <%= "#{k} #{dat[:nimi]}" %>
      </td>
    </tr>
    <tr>
    <td><%= dat[:lisaykset] %></td>
    <td><%= dat[:evl_poistot] %></td>
    <td><%= dat[:sumu_poistot] %></td>
    <td><%= dat[:poistoero] %></td>
    <td><%= dat[:menojaannos] %></td>
    <td><%= dat[:kum_poistoero] %></td>
    </tr>
  <% end %>
</table>
