<%= render 'header' %>

<%= link_to 'Uusi valuutta', new_currency_path %>

<br /><br />

<table>
  <tr>
    <th>Nimi</th>
    <th>Kurssi</th>
  </tr>

  <% @currencies.each do |cur| %>
    <tr>
      <td><%= link_to cur.nimi, edit_currency_path(cur.id) %></td>
      <td><%= cur.kurssi %></td>
    </tr>
  <% end %>
</table>

<br />

<%= link_to 'Uusi valuutta', new_currency_path %>

<br /><br />
<a style="cursor:pointer" onclick="sanakirjaform.submit()"><font class="info">Sanakirja</font></a>
