<font class="head">Valuutat</font>
<hr />

<%= link_to 'Uusi valuutta', new_currency_path %>

<br /><br />

<table>
  <tr>
    <th>action</th>
    <th>tunnus</th>
    <th>nimi</th>
    <th>kurssi</th>
  </tr>

  <% @currencies.each do |cur| %>
    <tr>
      <td><%= link_to 'Edit', edit_currency_path(cur.id) %></td>
      <td><%= cur.tunnus %></td>
      <td><%= cur.nimi %></td>
      <td><%= cur.kurssi %></td>
    </tr>
  <% end %>
</table>
