<%= render 'header' %>

<%= link_to t('Uusi valuutta'), new_currency_path %>

<br /><br />

<table>
  <tr>
    <th><%= t('Nimi') %></th>
    <th><%= t('Kurssi') %></th>
  </tr>

  <% @currencies.each do |cur| %>
    <tr>
      <td><%= link_to cur.nimi, edit_currency_path(cur.id) %></td>
      <td><%= cur.kurssi %></td>
    </tr>
  <% end %>
</table>

<br />

<%= link_to t('Uusi valuutta'), new_currency_path %>
