<table>

  <%= f.input :aktiivinen %>
  <%= f.input :asema %>
  <%= f.input :budjetti %>
  <%= f.input :dynaaminen_kassamyynti %>
  <%= f.input :eilahetetta %>
  <%= f.input :fyysinen_sijainti %>
  <%= f.input :hierarkia %>
  <%= f.input :hinnat %>
  <%= f.input :hyvaksyja, as: :boolean %>
  <%= f.input :taso, collection: user_taso_options, include_blank: false %>
  <%= f.input :hyvaksyja_maksimisumma %>
  <%= f.input :ip %>
  <%= f.input :jyvitys %>
  <%= f.input :kassalipas_otto %>
  <%= f.input :kassamyyja %>
  <%= f.input :keraajanro %>
  <%= f.input :keraysvyohyke %>
  <%= f.input :kuittitulostin %>
  <%= f.input :kulujen_laskeminen_hintoihin %>
  <%= f.input :lahetetulostin %>
  <%= f.input :lomaoikeus %>
  <%= f.input :maksuehto %>
  <%= f.input :maksupaate_ip %>
  <%= f.input :maksupaate_kassamyynti %>
  <%= f.input :max_keraysera_alustat %>
  <%= f.input :mitatoi_tilauksia %>
  <%= f.input :myyja %>
  <%= f.input :myyjaryhma %>
  <%= f.input :naytetaan_asiakashinta %>
  <%= f.input :naytetaan_katteet_tilauksella %>
  <%= f.input :naytetaan_tilaukset %>
  <%= f.input :naytetaan_tuotteet %>
  <%= f.input :oletus_asiakas %>
  <%= f.input :oletus_asiakastiedot %>
  <%= f.input :oletus_ostovarasto %>
  <%= f.input :oletus_pakkaamo %>
  <%= f.input :oletus_profiili %>
  <%= f.input :oletus_varasto %>
  <%= f.input :osasto %>
  <%= f.input :piirit %>
  <%= f.input :rahtikirjatulostin %>
  <%= f.input :saatavat %>
  <%= f.input :tilaus_valmis %>
  <%= f.input :toimipaikka %>
  <%= f.input :toimitustapa %>
  <%= f.input :tuuraaja, collection: user_temp_acceptor_options, include_blank: t('.no_temp_acceptor')  %>
  <%= f.input :varasto %>

</table>
