<table>

  <%= f.input :kuka %>
  <%= f.input :nimi %>
  <%= f.input :salasana %>
  <%= f.input :eposti %>
  <%= f.input :puhno %>
  <%= f.input :kieli %>
  <%= f.input :kayttoliittyma %>
  <%= f.input :oletus_ohjelma %>
  <%= f.input :taso %>
  <%= f.input :kirjoitin %>
  <%= f.input :profiilit %>

</table>
