<table>

  <%= f.input :kuka %>
  <%= f.input :nimi %>
  <%= f.input :salasana %>
  <%= f.input :eposti %>
  <%= f.input :puhno %>
  <%= f.input :kieli, collection: dictionary_languages_options, include_blank: false %>
  <%= f.input :kayttoliittyma %>
  <%= f.input :oletus_ohjelma %>
  <%= f.input :kirjoitin %>
  <%= f.input :profiilit %>

</table>
