<%= render "administration/form_errors", resource: @user %>

<%= simple_form_for @user, builder: AdminFormBuilder,
    defaults: { input_html: { class: :large } } do |f| %>

    <div style='float: left; padding: 10px; width: 460px;'>
      <%= render 'basic', f: f %>
    </div>

    <div style='float: left; padding: 10px; width: 460px;'>
      <%= render 'advanced', f: f %>
    </div>

    <div style='clear: both;'>
      <%= render 'administration/actions', f: f %>
    </div>

<% end %>
