<%= render "administration/form_errors", resource: @user %>

<%= simple_form_for @user, builder: AdminFormBuilder,
    defaults: { input_html: { class: :large } } do |f| %>

  <table>

    <%= f.input :aktiivinen %>
    <%= f.input :asema %>
    <%= f.input :budjetti %>
    <%= f.input :dynaaminen_kassamyynti %>
    <%= f.input :eilahetetta %>
    <%= f.input :eposti %>
    <%= f.input :fyysinen_sijainti %>
    <%= f.input :hierarkia %>
    <%= f.input :hinnat %>
    <%= f.input :hyvaksyja %>
    <%= f.input :hyvaksyja_maksimisumma %>
    <%= f.input :ip %>
    <%= f.input :jyvitys %>
    <%= f.input :kassalipas_otto %>
    <%= f.input :kassamyyja %>
    <%= f.input :kayttoliittyma %>
    <%= f.input :keraajanro %>
    <%= f.input :keraysvyohyke %>
    <%= f.input :kieli %>
    <%= f.input :kirjoitin %>
    <%= f.input :kuittitulostin %>
    <%= f.input :kuka %>
    <%= f.input :kulujen_laskeminen_hintoihin %>
    <%= f.input :lahetetulostin %>
    <%= f.input :lomaoikeus %>
    <%= f.input :maksuehto %>
    <%= f.input :maksupaate_ip %>
    <%= f.input :maksupaate_kassamyynti %>
    <%= f.input :max_keraysera_alustat %>
    <%= f.input :mitatoi_tilauksia %>
    <%= f.input :myyja %>
    <%= f.input :myyjaryhma %>
    <%= f.input :naytetaan_asiakashinta %>
    <%= f.input :naytetaan_katteet_tilauksella %>
    <%= f.input :naytetaan_tilaukset %>
    <%= f.input :naytetaan_tuotteet %>
    <%= f.input :nimi %>
    <%= f.input :oletus_asiakas %>
    <%= f.input :oletus_asiakastiedot %>
    <%= f.input :oletus_ohjelma %>
    <%= f.input :oletus_ostovarasto %>
    <%= f.input :oletus_pakkaamo %>
    <%= f.input :oletus_profiili %>
    <%= f.input :oletus_varasto %>
    <%= f.input :osasto %>
    <%= f.input :piirit %>
    <%= f.input :profiilit %>
    <%= f.input :puhno %>
    <%= f.input :rahtikirjatulostin %>
    <%= f.input :saatavat %>
    <%= f.input :salasana %>
    <%= f.input :taso %>
    <%= f.input :tilaus_valmis %>
    <%= f.input :toimipaikka %>
    <%= f.input :toimitustapa %>
    <%= f.input :tuuraaja %>
    <%= f.input :varasto %>

  </table>

  <br>

  <%= f.button :submit %>

<% end %>
