<%= form_for(@terms_of_payment) do |f| %>
  <% if @terms_of_payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@terms_of_payment.errors.count, "error") %> prohibited this terms of payment from being saved:</h2>

      <ul>
      <% @terms_of_payment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table>
    <tr>
      <th><%= f.label :teksti %></th>
      <td><%= f.text_field :teksti %></td>
    </tr>
    <tr>
      <th><%= f.label :rel_pvm %></th>
      <td><%= f.text_field :rel_pvm %></td>
    </tr>
    <tr>
      <th><%= f.label :abs_pvm %></th>
      <td><%= f.date_field :abs_pvm %></td>
    </tr>
    <tr>
      <th><%= f.label :kassa_relpvm %></th>
      <td><%= f.text_field :kassa_relpvm %></td>
    </tr>
    <tr>
      <th><%= f.label :kassa_abspvm %></th>
      <td><%= f.date_field :kassa_abspvm %></td>
    </tr>
    <tr>
      <th><%= f.label :kassa_alepros %></th>
      <td><%= f.text_field :kassa_alepros %> %</td>
    </tr>
    <tr>
      <th><%= f.label :jv %></th>
      <td>
        <%= f.check_box :jv, { checked: f.object.jv.present? }, 'o', '' %>
      </td>
    </tr>
    <tr>
      <th><%= f.label :kateinen %></th>
      <td>
        <% ops = [ %>
        <% [t('Tämä ei ole käteismaksuehto'), ''], %>
        <% [t('Käteismaksuehto, pankkikortti ei pyöristetä'), 'n'], %>
        <% [t('Käteismaksuehto, luottokortti ei pyöristetä'), 'o'], %>
        <% [t('Käteismaksuehto, käteinen pyöristetään'), 'p'], %>
        <% ] %>
        <% options = options_for_select(ops, f.object.kateinen) %>
        <%= select_tag 'terms_of_payment[kateinen]', options, include_blank: false %>
      </td>
    </tr>
    <tr>
      <th><%= f.label :factoring %></th>
      <td>
        <% ops = [[t('Ei factoroida'), '']] %>
        <% current_user.company.factorings.select(:factoringyhtio).uniq.each do |i| %>
        <% ops << [ i.factoringyhtio, i.factoringyhtio ] %>
        <% end %>
        <% options = options_for_select(ops, f.object.factoring) %>
        <%= select_tag 'terms_of_payment[factoring]', options, include_blank: false %>
      </td>
    </tr>
    <tr>
      <th><%= f.label :pankkiyhteystiedot %></th>
      <td>
        <% ops = [[t('Käytä yrityksen oletuksia'), 0]] %>
        <% current_user.company.bank_details.each { |i| ops << [ i.nimitys, i.id ] } %>
        <% options = options_for_select(ops, f.object.pankkiyhteystiedot) %>
        <%= select_tag 'terms_of_payment[pankkiyhteystiedot]', options, include_blank: false %>
      </td>
    </tr>
    <tr>
      <th><%= f.label :itsetulostus %></th>
      <td>
        <%= f.check_box :itsetulostus, { checked: f.object.itsetulostus.present? }, "o", "" %>
      </td>
    </tr>
    <tr>
      <th><%= f.label :jaksotettu %></th>
      <td>
        <%= f.check_box :jaksotettu, { checked: f.object.jaksotettu.present? }, "o", "" %>
      </td>
    </tr>
    <tr>
      <th><%= f.label :erapvmkasin %></th>
      <td>
        <%= f.check_box :erapvmkasin, { checked: f.object.erapvmkasin.present? }, "o", "" %>
    </tr>
    <tr>
      <th><%= f.label :sallitut_maat %></th>
      <td><%= f.text_field :sallitut_maat %></td>
    </tr>
    <tr>
      <th><%= f.label :kaytossa %></th>
      <td>
        <% options = options_for_select([[t('Käytössä'), ''], [t('Poistettu / Ei käytössä'), 'E']], f.object.kaytossa) %>
        <%= select_tag 'terms_of_payment[kaytossa]', options, include_blank: false %>
      </td>
    </tr>
    <tr>
      <th><%= f.label :jarjestys %></th>
      <td><%= f.text_field :jarjestys %></td>
    </tr>
  </table>

  <div class="actions">
    <% text = @terms_of_payment.persisted? ? t('Tallenna') : t('Lisää') %>
    <%= f.submit text, data: { disable_with: t('Tallentaa') + '...' } %>
  </div>
<% end %>
