<%= form_for(@terms_of_payment) do |f| %>
  <% if @terms_of_payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@terms_of_payment.errors.count, "error") %> prohibited this terms of payment from being saved:</h2>

      <ul>
      <% @terms_of_payment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table>
    <tr>
      <th><%= f.label :teksti %></th>
      <td><%= f.text_field :teksti %></td>
    </tr>
    <tr>
      <th><%= f.label :rel_pvm %></th>
      <td><%= f.text_field :rel_pvm %></td>
    </tr>
    <tr>
      <th><%= f.label :abs_pvm %></th>
      <td><%= f.text_field :abs_pvm %></td>
    </tr>
    <tr>
      <th><%= f.label :kassa_relpvm %></th>
      <td><%= f.text_field :kassa_relpvm %></td>
    </tr>
    <tr>
      <th><%= f.label :kassa_abspvm %></th>
      <td><%= f.text_field :kassa_abspvm %></td>
    </tr>
    <tr>
      <th><%= f.label :kassa_alepros %></th>
      <td><%= f.text_field :kassa_alepros %></td>
    </tr>
    <tr>
      <th><%= f.label :osamaksuehto1 %></th>
      <td><%= f.text_field :osamaksuehto1 %></td>
    </tr>
    <tr>
      <th><%= f.label :osamaksuehto2 %></th>
      <td><%= f.text_field :osamaksuehto2 %></td>
    </tr>
    <tr>
      <th><%= f.label :summanjakoprososa2 %></th>
      <td><%= f.text_field :summanjakoprososa2 %></td>
    </tr>
    <tr>
      <th><%= f.label :jv %></th>
      <td><%= f.text_field :jv %></td>
    </tr>
    <tr>
      <th><%= f.label :kateinen %></th>
      <td><%= f.text_field :kateinen %></td>
    </tr>
    <tr>
      <th><%= f.label :suoraveloitus %></th>
      <td><%= f.text_field :suoraveloitus %></td>
    </tr>
    <tr>
      <th><%= f.label :factoring %></th>
      <td><%= f.text_field :factoring %></td>
    </tr>
    <tr>
      <th><%= f.label :pankkiyhteystiedot %></th>
      <td><%= f.text_field :pankkiyhteystiedot %></td>
    </tr>
    <tr>
      <th><%= f.label :itsetulostus %></th>
      <td><%= f.text_field :itsetulostus %></td>
    </tr>
    <tr>
      <th><%= f.label :jaksotettu %></th>
      <td><%= f.text_field :jaksotettu %></td>
    </tr>
    <tr>
      <th><%= f.label :erapvmkasin %></th>
      <td><%= f.text_field :erapvmkasin %></td>
    </tr>
    <tr>
      <th><%= f.label :sallitut_maat %></th>
      <td><%= f.text_field :sallitut_maat %></td>
    </tr>
    <tr>
      <th><%= f.label :kaytossa %></th>
      <td><%= f.text_field :kaytossa %></td>
    </tr>
    <tr>
      <th><%= f.label :jarjestys %></th>
      <td><%= f.text_field :jarjestys %></td>
    </tr>
  </table>

  <div class="actions">
    <% text = @terms_of_payment.persisted? ? 'Tallenna' : 'Lisää' %>
    <%= f.submit text, :disable_with => 'Tallentaa...' %>
  </div>
<% end %>
