<font class="head">Maksuehdot</font>
<hr />

<%= link_to 'Uusi maksuehto', new_terms_of_payment_path %>

<% if @not_used %>
  <%= link_to 'N채yt채 aktiivit', terms_of_payments_path %>
<% else %>
  <%= link_to 'N채yt채 poistetut', not_used_terms_of_payments_path, action: :not_used %>
<% end %>

<br /><br />

<%= form_tag terms_of_payments_path, method: :get do %>
  <table>
    <tr>
      <% @visible_fields.each do |v| %>
        <th>
          <%= label_tag v.to_sym, v %>
          <br />
          <%= text_field_tag v.to_sym, params[v.to_sym] %>
        </th>
      <% end %>

      <th class="back"><%= submit_tag "Etsi" %></th>
    </tr>

    <% @terms_of_payments.each do |top| %>
      <tr>
        <% @visible_fields.each do |v| %>
          <% if @visible_fields.index(v) > 0 %>
            <td><%= top.send v.to_sym %></td>
          <% else %>
            <td><%= link_to (top.send v.to_sym), edit_terms_of_payment_path(top.id) %></td>
          <% end %>
        <% end %>
        <td class="back"></td>
      </tr>
    <% end %>
  </table>
<% end %>
