<font class="head">Maksuehdot</font>
<hr />

<%= link_to 'Uusi maksuehto', new_terms_of_payment_path %>

<% if @not_used %>
  <%= link_to 'N채yt채 aktiivit', terms_of_payments_path %>
<% else %>
  <%= link_to 'N채yt채 poistetut', not_used_terms_of_payments_path, action: :not_used %>
<% end %>

<br /><br />

<table>
  <tr>
    <th>teksti</th>
    <th>rel_pvm</th>
    <th>abs_pvm</th>
    <th>kassa_relpvm</th>
    <th>kassa_abspvm</th>
    <th>kassa_alepros</th>
    <th>jarjestys</th>
  </tr>

  <% @terms_of_payments.each do |top| %>
    <tr>
      <td><%= link_to top.teksti, edit_terms_of_payment_path(top.id) %></td>
      <td><%= top.rel_pvm %></td>
      <td><%= top.abs_pvm %></td>
      <td><%= top.kassa_relpvm %></td>
      <td><%= top.kassa_abspvm %></td>
      <td><%= top.kassa_alepros %></td>
      <td><%= top.jarjestys %></td>
    </tr>
  <% end %>
</table>
