<%= form_for(@printer) do |f| %>
  <%= render "administration/form_errors", resource: @printer %>

  <table>
    <tr>
      <th><%= f.label :kirjoitin, t("Kirjoitin") %></th>
      <td><%= f.text_field :kirjoitin %></td>
    </tr>

    <tr>
      <th><%= f.label :komento, t("Komento") %></th>
      <td><%= f.text_field :komento %></td>
    </tr>

    <tr>
      <th><%= f.label :unifaun_nimi, t("Unifaun nimi") %></th>
      <td><%= f.text_field :unifaun_nimi %></td>
    </tr>

    <tr>
      <th><%= f.label :merkisto, t("Merkistö") %></th>
      <td><%= f.select :merkisto, Printer.merkisto_types %></td>
    </tr>

    <tr>
      <th><%= f.label :mediatyyppi, t("Mediatyyppi") %></th>
      <td><%= f.select :mediatyyppi, Printer.mediatyyppi_types %></td>
    </tr>

    <tr>
      <th><%= f.label :nimi, t("Nimi") %></th>
      <td><%= f.text_field :nimi %></td>
    </tr>

    <tr>
      <th><%= f.label :osoite, t("Osoite") %></th>
      <td><%= f.text_field :osoite %></td>
    </tr>

    <tr>
      <th><%= f.label :postino, t("Postino") %></th>
      <td><%= f.text_field :postino %></td>
    </tr>

    <tr>
      <th><%= f.label :postitp, t("Postitp") %></th>
      <td><%= f.text_field :postitp, size: 10, maxlength: 10 %></td>
    </tr>

    <tr>
      <th><%= f.label :puhelin, t("Puhelin") %></th>
      <td><%= f.telephone_field :puhelin %></td>
    </tr>

    <tr>
      <th><%= f.label :yhteyshenkilo, t("Yhteyshenkilö") %></th>
      <td><%= f.text_field :yhteyshenkilo %></td>
    </tr>

    <tr>
      <th><%= f.label :ip, t("Ip") %></th>
      <td><%= f.text_field :ip %></td>
    </tr>

    <tr>
      <th><%= f.label :jarjestys, t("Järjestys") %></th>
      <td><%= f.number_field :jarjestys %></td>
    </tr>
    <%= render 'administration/resource_timestamps_and_users', resource: printer %>
  </table>

  <%= render 'administration/actions', f: f, resource: printer, resource_name: t('kirjoitin') %>
<% end %>
