<%= render "administration/form_errors", resource: @printer %>

<%= simple_form_for @printer, builder: AdminFormBuilder, alias_set: params[:alias_set] do |f| %>

  <div style='float: left; padding: 10px; width: 460px;'>
    <table width='100%' class='admin-view-30'>
      <%= f.input :kirjoitin, input_html: { class: :large } %>
      <%= f.input :komento, input_html: { class: :large } %>
      <%= f.input :merkisto, collection: merkisto_options, include_blank: false, input_html: { class: :medium } %>
      <%= f.input :mediatyyppi, collection: mediatyyppi_options, include_blank: false, input_html: { class: :medium } %>
      <%= f.input :jarjestys, input_html: { class: :small } %>

      <%= render 'administration/resource_timestamps_and_users', resource: @printer %>
    </table>
  </div>

  <div style='float: left; padding: 10px; width: 460px;'>
    <table width='100%' class='admin-view-30'>
      <%= f.input :ip, input_html: { class: :large } %>
      <%= f.input :unifaun_nimi, input_html: { class: :large } %>
      <%= f.input :yhteyshenkilo, input_html: { class: :large } %>
      <%= f.input :nimi, input_html: { class: :large } %>
      <%= f.input :osoite, input_html: { class: :large } %>
      <%= f.input :postino, input_html: { class: :large } %>
      <%= f.input :postitp, input_html: { class: :large } %>
      <%= f.input :puhelin, input_html: { class: :large } %>
    </table>
  </div>

  <div style='clear: both;'>
    <br>
    <%= f.button :submit %>
  </div>

<% end %>
