<%= render "administration/header", text: t('.header') %>

<%= button_to t('.button_new'), new_printer_path, method: :get if update_access? %>

<br/><br/>

<%= form_tag printers_path, method: :get do %>
  <table>
    <tr>
      <th>
        <%= sortable "kirjoitin", Printer.human_attribute_name(:kirjoitin) %>
        <br/>
        <%= text_field_tag :kirjoitin, params[:kirjoitin] %>
      </th>

      <th>
        <%= sortable "komento", Printer.human_attribute_name(:komento) %>
        <br/>
        <%= text_field_tag :komento, params[:komento] %>
      </th>

      <th class="back">
        <%= submit_tag t('.button_search') %>
      </th>
    </tr>

    <% @printers.each do |printer| %>
      <tr class="aktiivi">
        <td>
          <%= link_to printer.kirjoitin, edit_printer_path(printer) %>
        </td>

        <td>
          <%= printer.komento %>
        </td>

        <td class="back"></td>
      </tr>
    <% end %>

  </table>

<% end %>

<br/>

<%= button_to t('.button_new'), new_printer_path, method: :get if update_access? %>
