<table>
  <tr>
    <th colspan='4'><%= current_company.nimi %></th>
  </tr>
  <tr>
    <td colspan='3'>
      <%= t('.report_period', period: params[:period]) %> <br/>
      <% unless params[:product_category].nil? %>
        <%= t('.report_category', selected: params[:product_category].join(', ')) %> <br/>
      <% end %>
      <% unless params[:product_subcategory].nil? %>
        <%= t('.report_subcategory', selected: params[:product_subcategory].join(', ')) %> <br/>
      <% end %>
      <% unless params[:product_brand].nil? %>
        <%= t('.report_brand', selected: params[:product_brand].join(', ')) %> <br/>
      <% end %>
    </td>
    <td><%= Date.today %></td>
  </tr>
  <tr>
    <th><%= t('.product') %> <br/> <%= t('.week') %></th>
    <th><%= t('.sales') %></th>
    <th><%= t('.purchases') %></th>
    <th><%= t('.stock') %> <br/> <%= t('.available') %></th>
  </tr>

  <% @data.each do |data| %>
    <tr>
      <td style='font-weight:bold;'><%= data.tuoteno %> - <%= data.nimitys %></td>
      <td></td>
      <td></td>
      <td style='font-weight:bold;'><%= data.saldo %></td>
    </tr>
    <tr>
      <td style='font-weight:bold;'><%= t('.past') %></td>
      <td style='font-weight:bold;'><%= data.myohassa.sales %></td>
      <td style='font-weight:bold;'><%= data.myohassa.purchases %></td>
      <td style='font-weight:bold;'><%= data.myohassa.change %></td>
    </tr>

    <% data.viikkodata.each do |weekly_data| %>
      <tr>
        <td><%= weekly_data.week %></td>
        <td>
          <% if weekly_data.stock_values.amount_sold > 0 %>
            <%= link_to view_connected_sales_orders_path(order_numbers: weekly_data.stock_values.order_numbers), :target => "_blank" do %>
              <%= weekly_data.stock_values.amount_sold %>
            <% end %>
          <% else %>
            <%= weekly_data.stock_values.amount_sold %>
          <% end %>
        </td>
        <td><%= weekly_data.stock_values.amount_purchased %></td>
        <td><%= weekly_data.stock_values.total_stock_change %></td>
      </tr>
    <% end %>

    <tr>
      <td style='font-weight:bold;'><%= t('.future') %></td>
      <td style='font-weight:bold;'><%= data.tulevat.sales %></td>
      <td style='font-weight:bold;'><%= data.tulevat.purchases %></td>
      <td style='font-weight:bold;'><%= data.tulevat.change %></td>
    </tr>

    <tr>
      <td style='font-weight:bold;'><%= t('.total') %></td>
      <td style='font-weight:bold;'><%= data.yhteensa_myyty %></td>
      <td style='font-weight:bold;'><%= data.yhteensa_ostettu %></td>
      <td style='font-weight:bold;'><%= data.loppusaldo %></td>
    </tr>
    <tr><td><br/><br/></td></tr>
  <% end %>

</table>
