<table>
<tr>
  <th><%= t('.order_number') %></th>
  <th><%= t('.shipping_address') %></th>
  <th><%= t('.information') %></th>
  <th><%= t('.delivery_date') %></th>
  <th><%= t('.total_amount') %></th>
</tr>

<% @orders.each do |order| %>
<tr>
  <td><%= order.tunnus %></td>
  <td>
    <%= order.toim_nimi %><br/>
    <%= order.toim_nimitark %><br/>
    <%= order.toim_osoite %><br/>
    <%= order.toim_postitp %>
  </td>
  <td><%= order.comments %></td>
  <td><%= order.toimaika %></td>
  <td><%= order.summa %></td>
  <td><br/><br/></td>
</tr>
<% end %>
</table>
