<%= render "administration/form_errors", resource: @qualifier %>

<%= form_for(@qualifier) do |f| %>

  <table>

    <tr>
      <th><%= f.label :tyyppi %></th>
      <td>
        <% options = options_for_select(type_options, f.object.tyyppi) %>
        <%= select_tag 'qualifier[tyyppi]', options, include_blank: false %>
      </td>
    </tr>

    <tr>
      <th><%= f.label :isa_tarkenne %></th>
      <td>
        <%= collection_select(:qualifier, :isa_tarkenne, @isa_options, :tunnus, :nimitys, include_blank: true, selected: @qualifier.isa_tarkenne ) %>
      </td>
    </tr>

    <tr>
      <th><%= f.label :koodi %></th>
      <td><%= f.text_field :koodi %></td>
    </tr>
    <tr>
      <th><%= f.label :nimi %></th>
      <td><%= f.text_field :nimi %></td>
    </tr>

    <tr>
      <th><%= f.label :kaytossa %></th>
      <td>
        <%= f.select :kaytossa, kaytossa_options %>
      </td>
    </tr>

  <%= render 'administration/resource_timestamps_and_users', resource: @qualifier %>

  </table>

  <%= render 'administration/actions', f: f %>

<% end %>
