<%= render "administration/header", text: t('.header') %>

<% if flash[:error] %>
  <font class='error'>
    <%= flash[:error] %>
  </font>

  <br><br>
<% end %>

<% if flash[:notice] %>
  <font class='info'>
    <%= flash[:notice] %>
  </font>

  <br><br>
<% end %>

<table>
  <tr class='aktiivi'>
    <th>
      <%= Product::Keyword.model_name.human %>
    </th>

    <td>
      <%= form_for :data_import, url: product_keyword_import_path do |f| %>
        <%= f.file_field :file %>
        <%= f.submit t('.import') %>
      <% end %>
    </td>
  </tr>

  <tr class='aktiivi'>
    <th>
      Tuotteen avainsanat special format
    </th>

    <td>
      <%= form_for :data_import, url: product_information_import_path do |f| %>
        <%= f.select :language, dictionary_languages_options %>
        <%= f.select :type, special_product_keyword_options %>
        <%= f.file_field :file %>
        <%= f.submit t('.import') %>
      <% end %>
    </td>
  </tr>

  <tr class='aktiivi'>
    <th rowspan='2'>
      <%= SalesOrder::Detail.model_name.human %>
    </th>

    <td>
      <%= form_for :data_import, url: customer_sales_import_path do |f| %>
        <%= f.label :product_number, t('.product_number') %>
        <%= f.text_field :product, size: 30, value: 'ERIKOISMYYNTITUOTE' %><br />

        <%= f.label :customer_number, t('.customer_number') %>
        <%= f.text_field :customer_number, size: 30, value: 'ERIKOISMYYNTIASIAKAS' %><br />

        <%= f.date_select :month_year, discard_day: true %>
        <%= f.file_field :file %>
        <%= f.submit t('.import') %>
      <% end %>
    </td>
  </tr>

  <tr class='aktiivi'>
    <td>
      <%= form_for :data_import, url: destroy_customer_sales_import_path do |f| %>
        <%= f.date_select :month_year, discard_day: true %>
        <%= f.submit t('.destroy'), class: 'poista_btn' %>
      <% end %>
    </td>
  </tr>
</table>
