<%= render "administration/header", text: @text %>

<%= return_link t('data_import.index.header'), data_import_path %>

<br><br>

<%= t('.rows_with_errors') %>:<br />

<table>

  <tr>
    <th>#</th>

    <% @spreadsheet.headers.each do |name| %>
      <th>
        <%= name %>
      </th>
    <% end %>

    <th>Status</th>
  </tr>

  <% @spreadsheet.rows.each do |row| %>
    <tr class="aktiivi">
      <th><%= row.number %></th>

      <% row.columns.each do |value| %>
        <td>
          <%= value %>
        </td>
      <% end %>

      <td>
        <% if row.errors.present? %>
          <%= simple_format row.errors.flatten.join("\n"), { class: 'error' }, wrapper_tag: 'font' %>
        <% else %>
          <font class="ok">Ok</font>
        <% end %>
      </td>
    </tr>
  <% end %>

</table>

<br>

<%= return_link t('data_import.index.header'), data_import_path %>
