<%= render "administration/form_errors", resource: @bank_detail %>

<%= form_for @bank_detail do |f| %>

  <table>
    <tbody>

      <tr>
        <th><%= f.label :nimitys %></th>
        <td><%= f.text_field :nimitys %></td>
      </tr>

      <tr>
        <th><%= f.label :pankkinimi1 %></th>
        <td><%= f.text_field :pankkinimi1 %></td>
      </tr>

      <tr>
        <th><%= f.label :pankkitili1 %></th>
        <td><%= f.text_field :pankkitili1 %></td>
      </tr>

      <tr>
        <th><%= f.label :pankkiiban1 %></th>
        <td><%= f.text_field :pankkiiban1 %></td>
      </tr>

      <tr>
        <th><%= f.label :pankkiswift1 %></th>
        <td><%= f.text_field :pankkiswift1 %></td>
      </tr>

      <tr>
        <th><%= f.label :pankkinimi2 %></th>
        <td><%= f.text_field :pankkinimi2 %></td>
      </tr>

      <tr>
        <th><%= f.label :pankkitili2 %></th>
        <td><%= f.text_field :pankkitili2 %></td>
      </tr>

      <tr>
        <th><%= f.label :pankkiiban2 %></th>
        <td><%= f.text_field :pankkiiban2 %></td>
      </tr>

      <tr>
        <th><%= f.label :pankkiswift2 %></th>
        <td><%= f.text_field :pankkiswift2 %></td>
      </tr>

      <tr>
        <th><%= f.label :pankkinimi3 %></th>
        <td><%= f.text_field :pankkinimi3 %></td>
      </tr>

      <tr>
        <th><%= f.label :pankkitili3 %></th>
        <td><%= f.text_field :pankkitili3 %></td>
      </tr>

      <tr>
        <th><%= f.label :pankkiiban3 %></th>
        <td><%= f.text_field :pankkiiban3 %></td>
      </tr>

      <tr>
        <th><%= f.label :pankkiswift3 %></th>
        <td><%= f.text_field :pankkiswift3 %></td>
      </tr>

      <tr>
        <th><%= f.label :viite %></th>
        <td><%= f.select :viite, viite_options %></td>
      </tr>

      <%= render "administration/resource_timestamps_and_users", resource: @bank_detail %>

    </tbody>
  </table>

  <%= render "administration/actions", f: f %>

<% end %>
