<%= render "administration/header", title: "Sanakirja" %>

<%= form_tag dictionaries_path do %>
  <table>
    <tr>
      <th><%= t("Valitse käännettävät kielet") %></th>
      <td>
        <table>
          <% Dictionary.allowed_languages.each do |language| %>
            <tr>
              <td>
                <%= label_tag language[0], nil, for: "checkbox_#{language[1]}" %>
              </td>
              <td>
                <%= check_box_tag("languages[]",
                                  language[1],
                                  false,
                                  id: "checkbox_#{language[1]}") %>
              </td>
            </tr>
          <% end %>
        </table>
      </td>
    </tr>
    <tr>
      <th><%= label_tag t("Millä kielellä etsitään"), nil, for: "search_language" %></th>
      <td>
        <%= select_tag "search[language]", options_for_select(Dictionary.allowed_languages) %>
      </td>
    </tr>
    <tr>
      <th><%= label_tag t("Hakusana"), nil, for: "search_keyword" %></th>
      <td><%= text_area_tag "search[keyword]", nil, rows: 5, cols: 25 %></td>
    </tr>
  </table>
<% end %>
