<%= render "administration/header", title: "Sanakirja" %>

<%= form_tag dictionaries_path, method: :get do %>
  <table>
    <tr>
      <th><%= t("Valitse käännettävät kielet") %></th>
      <td>
        <table>
          <% Dictionary.allowed_languages.each do |language| %>
            <tr>
              <td>
                <%= label_tag language[0], nil, for: "checkbox_#{language[1]}" %>
              </td>
              <td>
                <%= check_box_tag("languages[]",
                                  language[1],
                                  language[1].in?(languages),
                                  id: "checkbox_#{language[1]}") %>
              </td>
            </tr>
          <% end %>
        </table>
      </td>
    </tr>
    <tr>
      <th><%= label_tag t("Millä kielellä etsitään"), nil, for: "search_language" %></th>
      <td>
        <%= select_tag("search[language]",
                       options_for_select(Dictionary.all_languages, search_language)) %>
      </td>
    </tr>
    <tr>
      <th><%= label_tag t("Hakusana"), nil, for: "search_keyword" %></th>
      <td><%= text_area_tag "search[keyword]", keyword, rows: 5, cols: 25 %></td>
    </tr>
    <tr>
      <th><%= label_tag t("Tarkka haku"), nil, for: "search_strict" %></th>
      <td><%= check_box_tag "search[strict]", true, strict_search? %></td>
      <td class="back">
        <%= submit_tag t("Hae") %>
      </td>
    </tr>
  </table>
<% end %>

<table>
  <thead>
  <tr>
    <th><%= Dictionary.default_language[1] %></th>
    <% languages.each do |language| %>
      <th><%= language %></th>
    <% end %>
  </tr>
  </thead>
  <tbody>
  <% @dictionaries.each do |dictionary| %>
    <tr>
      <td><%= dictionary.send(Dictionary.default_language[1]) %></td>
      <% languages.each do |language| %>
        <td><%= dictionary.send(language) %></td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>
