<%= form_for(@fiscal_year, builder: PupenextFormBuilder) do |f| %>
  <%= render "administration/form_errors", resource: @fiscal_year %>

  <table>
    <tr>
      <th><%= f.label :tilikausi_alku, t('Alkupäivämäärä') %></th>
      <td><%= f.pupenext_date_field :tilikausi_alku %></td>
    </tr>
    <tr>
      <th><%= f.label :tilikausi_loppu, t('Loppupäivämäärä') %></th>
      <td><%= f.pupenext_date_field :tilikausi_loppu %></td>
    </tr>
    <%= render 'administration/resource_timestamps_and_users', resource: @fiscal_year %>
  </table>

  <%= render 'administration/actions', f: f, resource: @fiscal_year, resource_name: t('tilikausi') %>

<% end %>
