<%= render "administration/form_errors", resource: @fiscal_year %>

<%= form_for @fiscal_year do |f| %>

  <table>
    <tr>
      <th><%= f.label :tilikausi_alku %></th>
      <td><%= f.pupenext_date_field :tilikausi_alku %></td>
    </tr>
    <tr>
      <th><%= f.label :tilikausi_loppu %></th>
      <td><%= f.pupenext_date_field :tilikausi_loppu %></td>
    </tr>
    <%= render 'administration/resource_timestamps_and_users', resource: @fiscal_year %>
  </table>

  <%= render 'administration/actions', f: f %>

<% end %>
