<%= form_for(@fiscal_year, builder: PupenextFormBuilder) do |f| %>
  <%= render "administration/form_errors", resource: @fiscal_year %>

  <table>
    <tr>
      <th><%= f.label :tilikausi_alku, t('Alkupäivämäärä') %></th>
      <td><%= f.pupenext_date_field :tilikausi_alku %></td>
    </tr>
    <tr>
      <th><%= f.label :tilikausi_loppu, t('Loppupäivämäärä') %></th>
      <td><%= f.pupenext_date_field :tilikausi_loppu %></td>
    </tr>
    <tr>
      <th><%= f.label :avaava_tase, t('Avaava tase') %></th>
      <td><%= f.text_field :avaava_tase %></td>
    </tr>
    <tr>
      <th><%= t('Laatija') %></th>
      <td><%= @fiscal_year.laatija %></td>
    </tr>
    <tr>
      <th><%= t('Luontiaika') %></th>
      <td><%= @fiscal_year.luontiaika %></td>
    </tr>
    <tr>
      <th><%= t('Muutospvm') %></th>
      <td><%= @fiscal_year.muutospvm %></td>
    </tr>
    <tr>
      <th><%= t('Muuttaja') %></th>
      <td><%= @fiscal_year.muuttaja %></td>
    </tr>
  </table>

  <br/>

  <div class="actions">
    <% text = @fiscal_year.persisted? ? t('Päivitä') : t('Lisää') %>
    <% text = "#{text} #{t('tilikausi')}" %>
    <%= f.submit t(text), disable_with: t('Tallentaa') + '...' %>
  </div>
<% end %>
