<%= render "administration/header", text: t('.header') %>

<%= button_to_new :fiscal_year %>

<br/><br/>

<%= form_tag fiscal_years_path, method: :get do %>

  <table>
    <tr>
      <th>
        <%= sortable 'tilikausi_alku', FiscalYear.human_attribute_name(:tilikausi_alku) %>
      </th>

      <th>
        <%= sortable 'tilikausi_loppu', FiscalYear.human_attribute_name(:tilikausi_loppu) %>
      </th>

      <th class="back">
        <%= submit_tag t('.button_search') %>
      </th>
    </tr>

    <% @fiscal_years.each do |fiscal_year| %>
      <tr class="aktiivi">
        <td>
          <% if update_access? %>
            <%= link_to l(fiscal_year.tilikausi_alku), edit_fiscal_year_path(fiscal_year.id) %>
          <% else %>
            <%=l fiscal_year.tilikausi_alku %>
          <% end %>
        </td>

        <td>
          <%=l fiscal_year.tilikausi_loppu %>
        </td>
      </tr>
    <% end %>

  </table>

<% end %>

<br/>

<%= button_to_new :fiscal_year %>
