<%= form_for(@bank_account) do |f| %>
<% if @bank_account.errors.any? %>
  <div id="error_explanation">
      <h2><%= pluralize(@bank_account.errors.count, "error") %> prohibited this bank account from being saved:</h2>

      <ul>
      <% @bank_account.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table>
    <tr>
      <th><%= f.label :kaytossa %></th>
      <td>
        <% options = options_for_select([["Käytössä", ""], ["Poistettu / Ei käytössä", "E"]], f.object.kaytossa) %>
        <%= select_tag 'bank_account[kaytossa]', options, include_blank: false %>
      </td>
    </tr>
    <tr>
      <th><%= f.label :nimi %></th>
      <td><%= f.text_field :nimi %></td>
    </tr>
    <tr>
      <th><%= f.label :iban %></th>
      <td><%= f.text_field :iban %></td>
    </tr>
    <tr>
      <th><%= f.label :bic %></th>
      <td><%= f.text_field :bic %></td>
    </tr>
    <tr>
      <th><%= f.label :valkoodi %></th>
      <td>
      <% options = options_for_select([["EUR"]], f.object.valkoodi) %>
        <%= select_tag 'bank_account[valkoodi]', options, include_blank: false %>
      </td>
    </tr>
    <tr>
      <th><%= f.label :factoring %></th>
      <td>
        <% options = options_for_select([["Ei", ""], ["Kyllä", "o"]], f.object.factoring) %>
        <%= select_tag 'bank_account[factoring]', options, include_blank: false %>
      </td>
    </tr>
    <tr>
      <th><%= f.label :asiakastunnus %></th>
      <td><%= f.text_field :asiakastunnus %></td>
    </tr>
    <tr>
      <th><%= f.label :maksulimitti %></th>
      <td><%= f.text_field :maksulimitti %></td>
    </tr>
    <tr>
      <th><%= f.label :tilinylitys %></th>
      <td>
        <% options = options_for_select([["Tilinylitys ei sallittu", ""], ["Tilinylitys sallittu", "o"]], f.object.tilinylitys) %>
        <%= select_tag 'bank_account[tilinylitys]', options, include_blank: false %>
      </td>
    </tr>
    <tr>
      <th><%= f.label :hyvak %></th>
      <td>
        <% company_users = current_user.company.users.map(&:nimi) %>
        <% company_users.unshift(["Ei kukaan", ""]) %>
        <% options = options_for_select(company_users, f.object.hyvak) %>
        <%= select_tag 'bank_account[hyvak]', options, include_blank: false %>
      </td>
    </tr>
    <tr>
      <th><%= f.label :oletus_kulutili %></th>
      <td><%= f.text_field :oletus_kulutili %></td>
    </tr>
    <tr>
      <th><%= f.label :oletus_kustp %></th>
      <td>
        <% options = options_for_select([["Ei kustannuspaikkaa", 0]], f.object.oletus_kustp) %>
        <%= select_tag 'bank_account[oletus_kustp]', options, include_blank: false %>
      </td>
    </tr>
    <tr>
      <th><%= f.label :oletus_kohde %></th>
      <td>
        <% options = options_for_select([["Ei kohdetta", 0]], f.object.oletus_kohde) %>
        <%= select_tag 'bank_account[oletus_kohde]', options, include_blank: false %>
      </td>
    </tr>
    <tr>
      <th><%= f.label :oletus_projekti %></th>
      <td>
        <% options = options_for_select([["Ei projektia", 0]], f.object.oletus_projekti) %>
        <%= select_tag 'bank_account[oletus_projekti]', options, include_blank: false %>
      </td>
    </tr>
    <tr>
      <th><%= f.label :oletus_rahatili %></th>
      <td><%= f.text_field :oletus_rahatili %></td>
    </tr>
    <tr>
      <th><%= f.label :oletus_selvittelytili %></th>
      <td><%= f.text_field :oletus_selvittelytili %></td>
    </tr>
    <tr>
      <th><%= f.label :laatija %></th>
      <td><%= f.object.laatija %></td>
    </tr>
    <tr>
      <th><%= f.label :luontiaika %></th>
      <td><%= f.object.luontiaika %></td>
    </tr>
    <tr>
      <th><%= f.label :muutospvm %></th>
      <td><%= f.object.muutospvm %></td>
    </tr>
    <tr>
      <th><%= f.label :muuttaja %></th>
      <td><%= f.object.muuttaja %></td>
    </tr>
  </table>

  <%= f.hidden_field :pankkitarkenne %>
  <%= f.hidden_field :asiakastarkenne %>
  <%= f.hidden_field :pankki %>
  <%= f.hidden_field :asiakas %>
  <%= f.hidden_field :generointiavain %>
  <%= f.hidden_field :salattukerta %>
  <%= f.hidden_field :siemen %>
  <%= f.hidden_field :kertaavain %>
  <%= f.hidden_field :kayttoavain %>
  <%= f.hidden_field :siirtoavain %>

  <br />
  <div class="actions">
    <% text = @bank_account.persisted? ? 'Tallenna' : 'Lisää' %>
    <%= f.submit text, :disable_with => 'Tallentaa...' %>
   </div>
<% end %>
