<%= form_for(@bank_account) do |f| %>
  <%= render "administration/form_errors", resource: @bank_account %>

  <table>
    <tr>
      <th><%= f.label :kaytossa, t("Käytössä") %></th>
      <td><%= f.select :kaytossa, BankAccount.kaytossa_options %></td>
    </tr>
    <tr>
      <th><%= f.label :nimi, t("Nimi") %></th>
      <td><%= f.text_field :nimi %></td>
    </tr>
    <tr>
      <th><%= f.label :iban, t("IBAN") %></th>
      <td><%= f.text_field :iban %></td>
    </tr>
    <tr>
      <th><%= f.label :bic, t("BIC") %></th>
      <td><%= f.text_field :bic %></td>
    </tr>
    <tr>
      <th><%= f.label :valkoodi, t("Valuutta") %></th>
      <td><%= f.collection_select(:valkoodi, currency_options, :tunnus, :nimi) %></td>
    </tr>
    <tr>
      <th><%= f.label :factoring, t("Factoring") %></th>
      <td><%= f.select :factoring, BankAccount.factoring_options %></td>
    </tr>
    <tr>
      <th><%= f.label :asiakastunnus, t("Asiakastunnus") %></th>
      <td><%= f.text_field :asiakastunnus %></td>
    </tr>
    <tr>
      <th><%= f.label :maksulimitti, t("Maksulimitti") %></th>
      <td><%= f.text_field :maksulimitti %></td>
    </tr>
    <tr>
      <th><%= f.label :tilinylitys, t("Tilinylitys") %></th>
      <td><%= f.select :tilinylitys, BankAccount.tilinylitys_options %></td>
    </tr>
    <tr>
      <th><%= f.label :hyvak, t("Oletushyväksyjä") %></th>
      <td><%= f.collection_select(:hyvak, hyvaksyja_options, :kuka, :nimi,
                                  include_blank: t("Ei kukaan")) %></td>
    </tr>
    <tr>
      <th><%= f.label :oletus_kulutili, t("Oletuskulutili") %></th>
      <td>
        <%= f.text_field :oletus_kulutili %>
        <%= show_account_name(f.object.oletus_kulutili) %>
      </td>
    </tr>
    <tr>
      <th><%= f.label :oletus_kustp, t("Oletuskusannuspaikka") %></th>
      <td><%= f.collection_select(:oletus_kustp, kustannuspaikka_options, :tunnus, :nimi,
                                  include_blank: t("Ei kustannuspaikkaa")) %></td>
    </tr>
    <tr>
      <th><%= f.label :oletus_kohde, t("Oletuskohde") %></th>
      <td><%= f.collection_select(:oletus_kohde, kohde_options, :tunnus, :nimi,
                                  include_blank: t("Ei kohdetta")) %></td>
    </tr>
    <tr>
      <th><%= f.label :oletus_projekti, t("Oletusprojekti") %></th>
      <td><%= f.collection_select(:oletus_projekti, projekti_options, :tunnus, :nimi,
                                  include_blank: t("Ei projektia")) %></td>
    </tr>
    <tr>
      <th><%= f.label :oletus_rahatili %></th>
      <td>
        <%= f.text_field :oletus_rahatili %>
        <%= show_account_name(f.object.oletus_rahatili) %>
      </td>
    </tr>
    <tr>
      <th><%= f.label :oletus_selvittelytili %></th>
      <td>
        <%= f.text_field :oletus_selvittelytili %>
        <%= show_account_name(f.object.oletus_selvittelytili) %>
      </td>
    </tr>
    <% if @bank_account.persisted? %>
      <tr>
        <th><%= f.label :laatija, t("Laatija") %></th>
        <td><%= @bank_account.laatija %></td>
      </tr>

      <tr>
        <th><%= f.label :luontiaika, t("Luontiaika") %></th>
        <td><%= @bank_account.luontiaika.try(:to_formatted_s, :db) %></td>
      </tr>

      <tr>
        <th><%= f.label :muutospvm, t("Muutospvm") %></th>
        <td><%= @bank_account.muutospvm.try(:to_formatted_s, :db) %></td>
      </tr>

      <tr>
        <th><%= f.label :muuttaja, t("Muuttaja") %></th>
        <td><%= @bank_account.muuttaja %></td>
      </tr>
    <% end %>
  </table>

  <% if update_access? %>
    <br/>

    <div class="actions">
      <% text = @bank_account.persisted? ? t("Päivitä pankkitili") : t("Lisää") %>
      <%= f.submit t(text), disable_with: t("Tallentaa") + "..." %>
    </div>
  <% end %>
<% end %>
