<font class="head">Yrityksen Pankkitilit</font>
<hr />

<%= link_to "<button>Uusi yrityksen pankkitili</button>".html_safe, new_bank_account_path %>

<br /><br />

<table>
  <tr>
    <th>Nimi:</th>
    <th>Tilinumero:</th>
    <th>Maksulimitti:</th>
    <th>Oletus_kulutili:</th>
    <th>Oletus_rahatili:</th>
    <th>Oletus_selvittelytili:</th>
  </tr>


<% @accounts.each do |acc| %>
  <tr>
    <td><%= link_to acc.nimi, edit_bank_account_path(acc.id) %></td>
    <td><%= if acc.iban.empty?
              acc.tilino
            else
              acc.iban
            end %></td>
    <td><%= acc.maksulimitti %></td>
    <td><%= acc.oletus_kulutili %></td>
    <td><%= acc.oletus_rahatili %></td>
    <td><%= acc.oletus_selvittelytili %></td>
  </tr>
<% end %>
</table>