<%= render "administration/header", text: t('.header') %>

<table>
  <tr>
    <th>
      <%= Keyword::RevenueExpenditureReportData.human_attribute_name(:selite) %>
    </th>

    <th>
      <%= Keyword::RevenueExpenditureReportData.human_attribute_name(:selitetark) %>
    </th>

    <th>
      <%= Keyword::RevenueExpenditureReportData.human_attribute_name(:selitetark_2) %>
    </th>
  </tr>

  <% @data_set.each do |data| %>
    <tr class='aktiivi'>
      <td>
        <%= link_to data.selite, edit_revenue_expenditure_report_datum_path(data) %>
      </td>

      <td>
        <%= data.selitetark %>
      </td>

      <td>
        <%= data.selitetark_2 %>
      </td>

    </tr>
  <% end %>
</table>
