<%= render "administration/form_errors", resource: @currency %>

<%= simple_form_for @currency,
    builder: AdminFormBuilder,
    defaults: { input_html: { class: :large } },
    alias_set: params[:alias_set] do |f| %>

  <table>

    <%= f.input :nimi %>
    <%= f.input :jarjestys %>
    <%= f.input :kurssi %>
    <%= f.input :intrastat_kurssi if Current.company.maa == "EE" %>

    <%= render 'administration/resource_timestamps_and_users', resource: @currency %>

  </table>

  <br>

  <%= f.button :submit %>

<% end %>
