<%= form_for(@currency) do |f| %>
  <%= render "administration/form_errors", resource: @currency %>

  <table>
    <tr>
      <th><%= f.label :nimi, t('Valuutta') %></th>
      <td><%= f.text_field :nimi %></td>
    </tr>
    <tr>
      <th><%= f.label :jarjestys, t('Järjestys') %></th>
      <td><%= f.text_field :jarjestys %></td>
    </tr>
    <tr>
      <th><%= f.label :kurssi, t('Valuuttakurssi') %></th>
      <td><%= f.text_field :kurssi %></td>
    </tr>
    <% if @current_company.maa == "EE" %>
      <tr>
        <th><%= f.label :intrastat_kurssi, t('Intrastat-kurssi') %></th>
        <td><%= f.text_field :intrastat_kurssi %></td>
      </tr>
    <% end %>
    <%= render 'administration/resource_timestamps_and_users', resource: @currency %>
  </table>

  <%= render 'administration/actions', f: f %>
<% end %>
