<%= render "administration/header", text: t('.header') %>

<%= button_to_new :currency %>

<br/><br/>

<%= form_tag currencies_path, method: :get do %>
  <%= hidden_field_tag :alias_set, params[:alias_set] %>

  <table>
    <tr>
      <th>
        <%= sortable 'nimi', Currency.human_attribute_name(:nimi) %>
        <br/>
        <%= text_field_tag :nimi, params[:nimi] %>
      </th>

      <th>
        <%= sortable 'kurssi', Currency.human_attribute_name(:kurssi) %>
        <br/>
        <%= text_field_tag :kurssi, params[:kurssi] %>
      </th>

      <th class="back">
        <%= submit_tag t('.button_search') %>
      </th>
    </tr>

    <% @currencies.each do |cur| %>
      <tr class="aktiivi">
        <td>
          <% if update_access? %>
            <%= link_to cur.nimi, edit_currency_path(cur.id) %>
          <% else %>
            <%= cur.nimi %>
          <% end %>
        </td>

        <td>
          <%= cur.kurssi %>
        </td>

        <td class="back"></td>
      </tr>
    <% end %>

  </table>

<% end %>

<br/>

<%= button_to_new :currency %>
