<%= form_for(@commodity) do |f| %>
  <% if @commodity.errors.any? %>
    <div id="error_explanation">
      <font class="message">
        <%= pluralize(@commodity.errors.count, t("virhe"), t("virhettä")) %>
        <%= t('esti tätä hyödykettä tallentumasta.') %>
      </font>

      <font class="error">
        <ul>
        <% @commodity.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </font>
    </div>
  <% end %>

  <table>
    <tr>
      <th><%= f.label :nimitys, t('Nimitys') %></th>
      <td><%= f.text_field :nimitys %></td>
    </tr>
    <tr>
      <th><%= f.label :selite, t('Selite') %></th>
      <td><%= f.text_field :selite %></td>
    </tr>
    <tr>
      <th><%= f.label :summa, t('Hankintasumma') %></th>
      <td><%= f.text_field :summa %></td>
    </tr>
    <tr>
      <th><%= f.label :hankintapvm, t('Hankintapvm') %></th>
      <td><%= f.date_field :hankintapvm %></td>
    </tr>
    <tr>
      <th><%= f.label :kustp, t('Kustannuspaikka') %></th>
      <td><%= f.text_field :kustp %></td>
    </tr>
    <tr>
      <th><%= f.label :kohde, t('Kohde') %></th>
      <td><%= f.text_field :kohde %></td>
    </tr>
    <tr>
      <th><%= f.label :projekti, t('Projekti') %></th>
      <td><%= f.text_field :projekti %></td>
    </tr>
    <tr>
      <th><%= f.label :tilino, t('Tili') %></th>
      <td><%= f.text_field :tilino %></td>
    </tr>
    <tr>
      <th><%= f.label :kayttoonottopvm, t('Käyttöönottopvm') %></th>
      <td><%= f.date_field :kayttoonottopvm %></td>
    </tr>
    <tr>
      <th><%= f.label :tila, t('Tila') %></th>
      <% tila_options = [
        [t('Ei aktivoitu'), ''],
        [t('Aktivoitu'), 'A'],
        [t('Poistettu'), 'P']] %>
      <td><%= f.select :tila, options_for_select(tila_options, @commodity.tila) %></td>
    </tr>
    <% select_options = [
      [t('Tasapoisto summa'),'T'],
      [t('Tasapoisto prosentti'),'P'],
      [t('Degressiivinen summa'),'D'],
      [t('Degressiivinen prosentti'),'B']] %>
    <tr>
      <th><%= f.label :sumu_poistotyyppi, t('SUMU poistotyyppi') %></th>
      <td><%= f.select :sumu_poistotyyppi, options_for_select(select_options, @commodity.sumu_poistotyyppi) %></td>
    </tr>
    <tr>
      <th><%= f.label :sumu_poistoera, t('SUMU poistoerä') %></th>
      <td><%= f.text_field :sumu_poistoera %></td>
    </tr>
    <tr>
      <th><%= f.label :evl_poistotyyppi, t('EVL poistotyyppi') %></th>
      <td><%= f.select :evl_poistotyyppi, options_for_select(select_options, @commodity.evl_poistotyyppi) %></td>
    </tr>
    <tr>
      <th><%= f.label :evl_poistoera, t('EVL poistoerä') %></th>
      <td><%= f.text_field :evl_poistoera %></td>
    </tr>
    <tr>
      <th><%= t('Laatija') %></th>
      <td><%= @commodity.laatija %></td>
    </tr>
    <tr>
      <th><%= t('Luontiaika') %></th>
      <td><%= @commodity.luontiaika %></td>
    </tr>
    <tr>
      <th><%= t('Muutospvm') %></th>
      <td><%= @commodity.muutospvm %></td>
    </tr>
    <tr>
      <th><%= t('Muuttaja') %></th>
      <td><%= @commodity.muuttaja %></td>
    </tr>
  </table>
  <br/>
  <div class="actions">
    <% text = @commodity.persisted? ? 'Tallenna' : 'Lisää' %>
    <%= f.submit t(text), disable_with: t('Tallentaa') + '...' %>
  </div>
<% end %>
