<%= form_for(@commodity) do |f| %>
  <% if @commodity.errors.any? %>
    <div id="error_explanation">
      <font class="message">
        <%= pluralize(@commodity.errors.count, t("virhe"), t("virhettä")) %>
        <%= t('esti tätä hyödykettä tallentumasta.') %>
      </font>

      <font class="error">
        <ul>
        <% @commodity.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </font>
    </div>
  <% end %>

  <table>
    <tr>
      <th><%= f.label :nimitys, t('Nimitys') %></th>
      <td><%= f.text_field :nimitys %></td>
    </tr>
    <tr>
      <th><%= f.label :selite, t('Selite') %></th>
      <td><%= f.text_field :selite %></td>
    </tr>
    <tr>
      <th><%= f.label :summa, t('Hankintasumma') %></th>
      <td><%= f.text_field :summa %></td>
    </tr>
    <tr>
      <th><%= f.label :hankintapvm, t('Hankintapvm') %></th>
      <td><%= f.date_field :hankintapvm %></td>
    </tr>
    <tr>
      <th><%= f.label :kustp, t('Kustannuspaikka') %></th>
      <td><%= f.text_field :kustp %></td>
    </tr>
    <tr>
      <th><%= f.label :kohde, t('Kohde') %></th>
      <td><%= f.text_field :kohde %></td>
    </tr>
    <tr>
      <th><%= f.label :projekti, t('Projekti') %></th>
      <td><%= f.text_field :projekti %></td>
    </tr>
    <tr>
      <th><%= f.label :tilino, t('Tili') %></th>
      <td><%= f.text_field :tilino %></td>
      <td class='back'><%= link_to t('Valitse tili'), accounting_fixed_assets_commodities_account_path(@commodity) if update_access? %></td>
    </tr>
    <tr>
      <th><%= f.label :kayttoonottopvm, t('Käyttöönottopvm') %></th>
      <td><%= f.date_field :kayttoonottopvm %></td>
    </tr>
    <tr>
      <th><%= f.label :tila, t('Tila') %></th>
      <td><%= f.select :tila, options_for_select(@commodity.get_options_for_state, @commodity.tila) %></td>
    </tr>
      <th><%= f.label :sumu_poistotyyppi, t('SUMU poistotyyppi') %></th>
      <td><%= f.select :sumu_poistotyyppi, options_for_select(@commodity.get_options_for_type, @commodity.sumu_poistotyyppi) %></td>
    </tr>
    <tr>
      <th><%= f.label :sumu_poistoera, t('SUMU poistoerä') %></th>
      <td><%= f.text_field :sumu_poistoera %></td>
    </tr>
    <tr>
      <th><%= f.label :evl_poistotyyppi, t('EVL poistotyyppi') %></th>
      <td><%= f.select :evl_poistotyyppi, options_for_select(@commodity.get_options_for_type, @commodity.evl_poistotyyppi) %></td>
    </tr>
    <tr>
      <th><%= f.label :evl_poistoera, t('EVL poistoerä') %></th>
      <td><%= f.text_field :evl_poistoera %></td>
    </tr>
    <tr>
      <th><%= t('Laatija') %></th>
      <td><%= @commodity.laatija %></td>
    </tr>
    <tr>
      <th><%= t('Luontiaika') %></th>
      <td><%= @commodity.luontiaika %></td>
    </tr>
    <tr>
      <th><%= t('Muutospvm') %></th>
      <td><%= @commodity.muutospvm %></td>
    </tr>
    <tr>
      <th><%= t('Muuttaja') %></th>
      <td><%= @commodity.muuttaja %></td>
    </tr>
  </table>
  <br/>
  <% if @commodity.rows.active.count > 0 %>
  <font class="head"><%= t('Poistoerät') %></font>
  <br/>
  <br/>
  <table>
  <tr>
  <th>Selite</th>
  <th>Tyyppi</th>
  <th>Summa</th>
  <th>Tili</th>
  <th>Tapahtumapäivä</th>
  </tr>
  <% @commodity.rows.active.each do |rivi| %>
    <tr>
      <td><%= rivi.selite %></td>
      <td><%= rivi.tyyppi %></td>
      <td><%= rivi.summa %></td>
      <td><%= rivi.tilino %></td>
      <td><%= rivi.tapvm %></td>
    </tr>
  <% end %>
  <% kokonaismaara = BigDecimal.new 0 %>
  <% @commodity.rows.active.each { |x| kokonaismaara += x.summa } %>
  <tr><td colspan='2'><%= t('EVL poistot yhteensä') + ": #{kokonaismaara.to_s} #{@commodity.rows.active.count} erässä" %></td></tr>
  </table>
  <br/>

  <% end %>

  <% unless @commodity.accounting_voucher.nil? %>
    <% unless @commodity.accounting_voucher.rows.active.count.zero? %>
    <table>
    <tr>
    <th>Selite</th>
    <th>Summa</th>
    <th>Tili</th>
    <th>Tapahtumapäivä</th>
    </tr>
    <% @commodity.accounting_voucher.rows.active.each do |rivi| %>
      <tr>
        <td><%= rivi.selite %></td>
        <td><%= rivi.summa %></td>
        <td><%= rivi.tilino %></td>
        <td><%= rivi.tapvm %></td>
      </tr>
    <% end %>
    <% kokonaismaara2 = BigDecimal.new 0 %>
    <% @commodity.accounting_voucher.rows.active.each { |x| kokonaismaara2 += x.summa } %>
    <tr><td colspan='2'><%= t('SUMU poistot yhteensä') + ": #{kokonaismaara2.to_s} #{@commodity.accounting_voucher.rows.active.count} erässä" %></td></tr>
    </table>
    <br/>
    <% end %>
  <% end %>

  <div class="actions">
    <% text = @commodity.persisted? ? 'Tallenna' : 'Lisää' %>
    <%= f.submit t(text), disable_with: t('Tallentaa') + '...' %>
  </div>
<% end %>
<br/>
<font class="head"><%= t('Liitetyt ostolaskut') %></font>
<br/><br/>
<%= form_tag accounting_fixed_assets_commodities_purchase_orders_path, method: :get do %>
<% ostolaskut_yhteensa = BigDecimal.new 0  %>
<% @commodity.purchase_orders.each { |x| ostolaskut_yhteensa += x.summa } %>
<%= "#{@commodity.purchase_orders.count} " + t('ostolaskua')%>
<br/>
<%=  t('Yhteensä') + ": #{ostolaskut_yhteensa} eur"  %>
<br/><br/>
<%= button_to t('Liitä ostolasku'), accounting_fixed_assets_commodities_purchase_orders_path, method: :get if update_access? %>
<% end %>
<br/>

