<% return_text = t('Palaa ohjelmaan') + ': ' + t('Hyödykkeet') %>
<%= link_to return_text, accounting_fixed_assets_commodities_path %>
<br /><br />

<% return_text = t('Palaa ohjelmaan') + ': ' + t('Muokkaa hyödykettä') %>
<%= link_to return_text, edit_accounting_fixed_assets_commodity_path %>
<br /><br />

<%= render 'header' %>

<% accounts = current_user.company.accounting_accounts.limit(50) %>

<table>
  <tr>
  <th>Nimi</th>
  <th>Tilino</th>
  <th>Sisainen taso</th>
  <th>Ulkoinen taso</th>
  <th>Alv taso</th>
  </tr>

<% accounts.each do |acc| %>
  <tr>
    <td><%= "  " + acc.nimi %></td>
    <td><%= acc.tilino %></td>
    <td><%= acc.sisainen_taso %></td>
    <td><%= acc.ulkoinen_taso %></td>
    <td><%= acc.alv_taso %></td>
    <td class='back'><%= form_tag(edit_accounting_fixed_assets_commodity_path, method: "get") do %>
    <%= hidden_field_tag(:selected_account, acc.tilino) %>
    <%= submit_tag('Käytä') %></td>
    <% end %>
  </tr>
<% end %>

</table>
<br /><br />

