<%= form_for(@cash_box) do |f| %>

  <% if @cash_box.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cash_box.errors.count, "error") %> prohibited this Packing area from being saved:</h2>

      <ul>
      <% @cash_box.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>

  <% end %>

  <table>

    <tr>
      <th><%= f.label :nimi %></th>
      <td><%= f.text_field :nimi %></td>
    </tr>

    <tr>
      <th><%= f.label :kustp %></th>
      <td>
        <%= collection_select(:cash_box, :kustp, @qualifiers, :tunnus, :nimi, {include_blank: 'Ei kustannuspaikkaa', selected: @cash_box.toimipaikka} ) %>
      </td>
    </tr>

    <tr>
      <th><%= f.label :toimipaikka %></th>
      <td>
        <%= collection_select(:cash_box, :toimipaikka, @locations, :tunnus, :nimi,  {include_blank: 'Ei toimipaikkaa', selected: @cash_box.toimipaikka} ) %>
      </td>
    </tr>

    <tr>
      <th><%= f.label :kassa %></th>
      <td>
    <% if @kassa_accounts.present? %>
      <%= collection_select(:cash_box, :kassa, @kassa_accounts, :tilino, :tilino_nimi,  {:include_blank => 'Ei valintaa'}  ) %>
    <% else %>
      <%= f.text_field :kassa, maxlength: 6, size: 8 %>  <%= account_name f.object.kassa %>
    <% end %>
      </td>
    </tr>

    <tr>
      <th><%= f.label :pankkikortti %></th>
      <td>
    <% if @pankkikortti_accounts.present? %>
      <%= collection_select(:cash_box, :pankkikortti, @pankkikortti_accounts, :tilino, :tilino_nimi,  {:include_blank => 'Ei valintaa'}  ) %>
    <% else %>
      <%= f.text_field :pankkikortti, maxlength: 6, size: 8 %>  <%= account_name f.object.pankkikortti %>
    <% end %>
      </td>
    </tr>

    <tr>
      <th><%= f.label :luottokortti %></th>
      <td>
    <% if @luottokortti_accounts.present? %>
      <%= collection_select(:cash_box, :luottokortti, @luottokortti_accounts, :tilino, :tilino_nimi,  {:include_blank => 'Ei valintaa'}  ) %>
    <% else %>
      <%= f.text_field :luottokortti, maxlength: 6, size: 8 %>  <%= account_name f.object.luottokortti %>
    <% end %>
      </td>
    </tr>

    <tr>
      <th><%= f.label :kateistilitys %></th>
      <td>
    <% if @kateistilitys_accounts.present? %>
      <%= collection_select(:cash_box, :kateistilitys, @kateistilitys_accounts, :tilino, :tilino_nimi,  {:include_blank => 'Ei valintaa'}  ) %>
    <% else %>
      <%= f.text_field :kateistilitys, maxlength: 6, size: 8 %>  <%= account_name f.object.kateistilitys %>
    <% end %>
      </td>
    </tr>

    <tr>
      <th><%= f.label :kassaerotus %></th>
      <td>
    <% if @kassaerotus_accounts.present? %>
      <%= collection_select(:cash_box, :kassaerotus, @kassaerotus_accounts, :tilino, :tilino_nimi,  {:include_blank => 'Ei valintaa'}  ) %>
    <% else %>
      <%= f.text_field :kassaerotus, maxlength: 6, size: 8 %>  <%= account_name f.object.kassaerotus %>
    <% end %>
      </td>
    </tr>

    <tr>
      <th><%= f.label :kateisotto %></th>
      <td>
    <% if @kateisotto_accounts.present? %>
      <%= collection_select(:cash_box, :kateisotto, @kateisotto_accounts, :tilino, :tilino_nimi,  {:include_blank => 'Ei valintaa'}  ) %>
    <% else %>
      <%= f.text_field :kateisotto, maxlength: 6, size: 8 %>  <%= account_name f.object.kateisotto %>
    <% end %>
      </td>
    </tr>

  <% if @cash_box.persisted? %>

    <tr>
      <th><%= f.label :laatija %></th>
      <td><%= @cash_box.laatija %></td>
    </tr>

    <tr>
      <th><%= f.label :luontiaika %></th>
      <td><%= @cash_box.luontiaika.utc.getlocal.strftime("%Y-%m-%d %H:%M:%S") %></td>
    </tr>

    <tr>
      <th><%= f.label :muutospvm %></th>
      <td><%= @cash_box.muutospvm.utc.getlocal.strftime("%Y-%m-%d %H:%M:%S") %></td>
    </tr>

    <tr>
      <th><%= f.label :muuttaja %></th>
      <td><%= @cash_box.muuttaja %></td>
    </tr>

  <% end %>

  </table>
  <br />
  <div class="actions">
    <% text = @cash_box.persisted? ? 'Päivitä kassalipas' : 'Perusta kassalipas' %>
    <%= f.submit text, :disable_with => 'Tallentaa...' %>
  </div>

<% end %>
