<%
  lyhytkuvaus = nil
  image       = nil
  kuvaus      = nil

  if @report.lyhytkuvaus && p.lyhytkuvaus.present?
    lyhytkuvaus = p.lyhytkuvaus.truncate(2500)
  end

  if params[:product_image] && p.cover_thumbnail.present?
    image = Base64.encode64(p.cover_thumbnail.data)
  end

  if @report.kuvaus && p.kuvaus.present?
    kuvaus = p.kuvaus.truncate(2500)
  end
%>

<tr class="container">
  <td colspan="3" class="inner-table-container">
    <table>
      <tr>
        <td class="width-100">
          <strong><%= p.tuoteno %></strong>
        </td>
        <td>
          <strong><%= p.nimitys %></strong>
        </td>
        <td class="width-100">
          <%= number_to_currency(p.price[:hinta]) %>

          <% if p.price[:contract_price] %>
            <small>(<%= t('reports.customer_price_lists.report.contract_price') %>)</small>
          <% end %>
        </td>
      </tr>

      <% if lyhytkuvaus.present? %>
        <tr>
          <td colspan="5"><%= lyhytkuvaus %></td>
        </tr>
      <% end %>

      <% if image.present? || kuvaus.present? %>
        <tr>
          <% if image.present? %>
            <td>
              <img src="data:image/jpg;base64,<%= image %>" style="width: 100%;"/>
            </td>
          <% end %>

          <td colspan="4"><%= kuvaus %></td>
        </tr>
      <% end %>
    </table>
  </td>
</tr>
