<div>
  <%= form_tag do %>
    <%= enable_pickadate %>

    <table>

      <tr>
        <th><%= label_tag(:target_type, t('.target_type')) %></th>
        <td>
          <%= select_tag(:target_type,
                         options_for_select([[t('activerecord.models.customer'), 1],
                                             [t('activerecord.models.customer_subcategory'), 2]])) %>
        </td>
      </tr>

      <tr>
        <th><%= label_tag :target, t('.target') %></th>
        <td><%= number_field_tag :target, nil, required: true %></td>
      </tr>

      <tr>
        <th><%= label_tag :date_start, t('.date_start') %></th>
        <td><%= date_field_tag :date_start, nil, class: :pickadate %></td>
      </tr>
      <tr>
        <th><%= label_tag :date_end, t('.date_end') %></th>
        <td><%= date_field_tag :date_end, nil, class: :pickadate %></td>
      </tr>
      <tr>
        <th><%= label_tag :product_filter, t('.product_filter') %></th>
        <td><%= select_tag(:product_filter,
                           options_for_select([[t('.all_products'), 1],
                                               [t('.contract_prices'), 2]])) %></td>
      </tr>

      <tr>
        <th></th>
        <td colspan="2"><%= render "products/categories_selection" %></td>
      </tr>

    </table>

    <%= submit_tag t('.generate') %>
  <% end %>
</div>
