<div>
  <%= form_tag do %>
    <%= label_tag(:target_type, t('.target_type')) %>
    <%= select_tag(:target_type,
                   options_for_select([[t('activerecord.models.customer'), 1],
                                       [t('activerecord.models.customer_subcategory'), 2]])) %>

    <%= label_tag :target, t('.target') %>
    <%= number_field_tag :target %>

    <%= label_tag :product_filter, t('.product_filter') %>
    <%= select_tag(:product_filter,
                   options_for_select([[t('.all_products'), 1],
                                       [t('.contract_prices'), 2]])) %>

    <%= render "products/categories_selection" %>

    <%= submit_tag t('.generate') %>
  <% end %>
</div>
