<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= t('.header') %></title>
</head>
<body>
<table class="margin-bottom">

  <tr>
    <td>
      <% logo = Attachment::AdministrationAttachment.logo %>

      <% if logo %>
        <img src="data:image/jpg;base64,<%= Base64.encode64 logo.data %>"/>
      <% end %>
    </td>
    <td>
      <h1><%= t('.header') %></h1>
    </td>
  </tr>

  <tr>
    <td colspan="2">
      <% if params[:date_start].present? && params[:date_end].present? %>
        <%= t('.valid_text') %> <%= l Date.parse(params[:date_start]) %>
        - <%= l Date.parse(params[:date_end]) %>
      <% else %>
        <%= t('.valid_text') %> <%= t('.indefinitely').downcase %>
      <% end %>

    </td>
  </tr>

  <tr>
    <td>
      <ul class="list-unstyled">
        <li><%= current_company.nimi %></li>
        <li><%= current_company.ytunnus %></li>
        <li><%= current_company.osoite %></li>
        <li><%= current_company.postino %> <%= current_company.postitp %></li>
      </ul>
    </td>
    <td>
      <table>
        <tr>
          <% if @customer %>
            <td>
              <ul class="list-unstyled">
                <li><%= Customer.model_name.human %></li>
                <li><%= @customer.nimi %></li>
                <li><%= @customer.osoite %></li>
                <li><%= @customer.postino %> <%= @customer.postitp %></li>
              </ul>
            </td>
          <% end %>

          <% if @customer %>
            <td>
              <ul class="list-unstyled">
                <li><%= Customer.human_attribute_name :asiakasnro %></li>
                <li><%= @customer.asiakasnro %></li>
                <li>
                  <table class="no-border">
                    <tr>
                      <td><%= Keyword::CustomerCategory.model_name.human %></td>
                      <td><%= Keyword::CustomerSubcategory.model_name.human %></td>
                    </tr>
                    <tr>
                      <td><%= @customer.osasto %></td>
                      <td><%= @customer.ryhma %></td>
                    </tr>
                  </table>
                </li>
              </ul>
            </td>
          <% else %>
            <td colspan="2">
              <ul class="list-unstyled">
                <li>
                  <table class="no-border">
                    <tr>
                      <td><%= Keyword::CustomerSubcategory.model_name.human %></td>
                    </tr>
                    <tr>
                      <td><%= @customer_subcategory %></td>
                    </tr>
                  </table>
                </li>
              </ul>
            </td>
          <% end %>
        </tr>
        <tr>
          <td>
            <ul class="list-unstyled">
              <li><%= User.human_attribute_name :myyja %></li>
              <li><%= current_user.nimi %></li>
            </ul>
          </td>
          <td>
            <ul class="list-unstyled">
              <li><%= t('.printed') %></li>
              <li><%= l Time.now %></li>
            </ul>
          </td>
        </tr>
        <tr>

          <% if @customer %>
            <td colspan="2">
              <ul class="list-unstyled">
                <li><%= Customer.human_attribute_name :toimitustapa %></li>
                <li><%= @customer.toimitustapa %></li>
              </ul>
            </td>
          <% end %>

        </tr>
        <tr>
          <% if @customer %>
            <td colspan="2">

              <ul class="list-unstyled">
                <li><%= TermsOfPayment.model_name.human %></li>
                <li><%= @customer.terms_of_payment.teksti %></li>
              </ul>
            </td>
          <% end %>
        </tr>
      </table>
    </td>
  </tr>

  <% if Keyword::CustomerPriceListAttribute.message.present? %>
    <tr>
      <td colspan="2">
        <%= Keyword::CustomerPriceListAttribute.message %>
      </td>
    </tr>
  <% end %>

</table>

<table>
  <thead>

  <tr>
    <th><%= Product.human_attribute_name :tuoteno %></th>
    <th><%= Product.human_attribute_name :nimitys %></th>
    <th><%= t('.price') %></th>
  </tr>

  </thead>
  <tbody>
  <% @products.each do |p| %>

    <tr>
      <td><strong><%= p.tuoteno %></strong></td>
      <td><strong><%= p.nimitys %></strong></td>

      <td>
        <% if @customer %>
          <%= number_to_currency(p.customer_price(@customer.id)) %>

          <% if @customer && @customer.contract_price?(p) %>
            (<%= t('.contract_price') %>)
          <% end %>
        <% else %>
          <%= number_to_currency(p.customer_subcategory_price(@customer_subcategory)) %>
        <% end %>
      </td>
    </tr>

    <% if params[:lyhytkuvaus] && p.lyhytkuvaus.present? %>
      <tr>
        <td colspan="5"><%= p.lyhytkuvaus %></td>
      </tr>
    <% end %>

    <% if p.attachments.any? || p.kuvaus.present? %>
      <tr>
        <% if p.attachments.first && p.attachments.first.data %>
          <td>
            <img src="data:image/jpg;base64,<%= Base64.encode64(p.attachments.first.data) %>"
                 style="width: 100%;"/>
          </td>
        <% end %>

        <% if params[:kuvaus] && p.kuvaus.present? %>
          <td colspan="4"><%= p.kuvaus %></td>
        <% end %>
      </tr>
    <% end %>
  <% end %>

  </tbody>
</table>

</body>
</html>
