<%= render "administration/form_errors", resource: @terms_of_payment %>

<%= form_for @terms_of_payment do |f| %>

  <table>
    <tr>
      <td class='back' style='vertical-align: top; padding: 0px;'>
        <%= render 'basic', f: f %>
      </td>
      <td class='back' style='vertical-align: top; padding: 0px; padding-left: 30px;'>
        <%= render 'translations', f: f %>
      </td>
      <td class='back' style='vertical-align: top; padding: 0px; padding-left: 30px;'>
        <%= render 'advanced', f: f %>
      </td>
    </tr>
  </table>

  <%= render 'administration/actions', f: f %>

<% end %>
