<%= form_for(@terms_of_payment) do |f| %>
  <%= render "administration/form_errors", resource: @terms_of_payment %>

  <table>
    <tr>
      <th><%= f.label :teksti %></th>
      <td><%= f.text_field :teksti %></td>
    </tr>
    <tr>
      <th><%= f.label :rel_pvm %></th>
      <td><%= f.text_field :rel_pvm %></td>
    </tr>
    <tr>
      <th><%= f.label :abs_pvm %></th>
      <td><%= f.date_field :abs_pvm %></td>
    </tr>
    <tr>
      <th><%= f.label :kassa_relpvm %></th>
      <td><%= f.text_field :kassa_relpvm %></td>
    </tr>
    <tr>
      <th><%= f.label :kassa_abspvm %></th>
      <td><%= f.date_field :kassa_abspvm %></td>
    </tr>
    <tr>
      <th><%= f.label :kassa_alepros %></th>
      <td><%= f.text_field :kassa_alepros %> %</td>
    </tr>
    <tr>
      <th><%= f.label :jv %></th>
      <td>
        <%= f.check_box :jv, { checked: f.object.jv.present? }, 'o', '' %>
      </td>
    </tr>
    <tr>
      <th><%= f.label :kateinen %></th>
      <td>
        <%= f.select(:kateinen, @terms_of_payment.cash_options) %>
      </td>
    </tr>
    <tr>
      <th><%= f.label :factoring %></th>
      <td>
        <%= f.select(:factoring, @terms_of_payment.factoring_options,
          include_blank: t('Ei factoroida')) %>
      </td>
    </tr>
    <tr>
      <th><%= f.label :pankkiyhteystiedot %></th>
      <td>
        <%= f.select(:pankkiyhteystiedot, @terms_of_payment.bank_details_options,
          include_blank: t('Käytä yrityksen oletuksia')) %>
      </td>
    </tr>
    <tr>
      <th><%= f.label :itsetulostus %></th>
      <td>
        <%= f.check_box :itsetulostus, { checked: f.object.itsetulostus.present? }, "o", "" %>
      </td>
    </tr>
    <tr>
      <th><%= f.label :jaksotettu %></th>
      <td>
        <%= f.check_box :jaksotettu, { checked: f.object.jaksotettu.present? }, "o", "" %>
      </td>
    </tr>
    <tr>
      <th><%= f.label :erapvmkasin %></th>
      <td>
        <%= f.check_box :erapvmkasin, { checked: f.object.erapvmkasin.present? }, "o", "" %>
    </tr>
    <tr>
      <th><%= f.label :sallitut_maat %></th>
      <td><%= f.text_field :sallitut_maat %></td>
    </tr>
    <tr>
      <th><%= f.label :kaytossa %></th>
      <td>
        <%= f.select(:kaytossa, @terms_of_payment.in_use_options) %>
      </td>
    </tr>
    <tr>
      <th><%= f.label :jarjestys %></th>
      <td><%= f.text_field :jarjestys %></td>
    </tr>
    <%= render 'administration/resource_timestamps_and_users', resource: @terms_of_payment %>
  </table>
  <%= render 'administration/actions', f: f, resource: @terms_of_payment, resource_name: t('maksuehto') %>
<% end %>
