<%= render "administration/form_errors", resource: @terms_of_payment %>

<%= form_for @terms_of_payment do |f| %>

  <div style='float: left; padding: 10px; width: 460px;'>
    <%= render 'basic', f: f %>
  </div>
  <div style='float: left; padding: 10px; width: 460px;'>
    <%= render 'translations', f: f %>
  </div>
  <div style='float: left; padding: 10px; width: 460px;'>
    <%= render 'advanced', f: f %>
  </div>

  <div style='clear: both;'>
    <%= render 'administration/actions', f: f %>
  </div>
<% end %>
