<%= render "header", text: t('.header') %>

<%= form_tag pending_product_updates_path, method: :get do %>

  <table>

    <tr>
      <th align='right'>
        <%= label_tag :tuoteno, t('.sku') %>
      </th>
      <td>
        <%= text_field_tag :tuoteno, params[:tuoteno] %>
      </td>
    </tr>

    <tr>
      <th align='right'>
        <%= label_tag :toim_tuoteno, t('.suppliers_sku') %>
      </th>
      <td>
        <%= text_field_tag :toim_tuoteno, params[:toim_tuoteno] %>
      </td>
    </tr>

    <tr>
      <th align='right'>
        <%= label_tag :nimitys, t('.label') %>
      </th>
      <td>
        <%= text_field_tag :nimitys, params[:nimitys] %>
      </td>
    </tr>

    <tr>
      <th align='right'>
        <%= label_tag :poistettu, t('.removed') %>
      </th>
      <td>
        <%= check_box_tag :poistettu, params[:poistettu] %>
      </td>
    </tr>

    <tr>
      <th align='right'>
        <%= label_tag :ei_saldoa, t('.inventory_management_products') %>
      </th>
      <td>
        <%= check_box_tag :ei_saldoa, params[:ei_saldoa] %>
      </td>
    </tr>

  </table>

  <%= render 'products/categories_selection' %>

  <%= submit_tag t('.search') %>

<% end %>

<br><br>

<% if @products.present? %>

  <table>

  <tr>
    <th>
      <%= t('.sku') %>
    </th>
    <th>
      <%= t('.label') %>
    </th>
  </tr>

  <% @products.each do |p| %>
    <tr>
      <td>
        <%= p.tuoteno %>
      </td>
      <td>
        <%= p.nimitys %>
      </td>
    </tr>
  <% end %>

  </table>

<% end %>
