<%= render "administration/header", text: t('.header') %>
<%= render "administration/notice" %>

<%= form_tag pending_product_updates_list_path, method: :get do %>

  <table>

    <tr>
      <th align='right'>
        <%= label_tag :tuoteno, t('.sku') %>
      </th>
      <td>
        <%= text_field_tag :tuoteno, params[:tuoteno] %>
      </td>
    </tr>

    <tr>
      <th align='right'>
        <%= label_tag 'tuotteen_toimittajat.toim_tuoteno', t('.suppliers_sku') %>
      </th>
      <td>
        <%= text_field_tag 'tuotteen_toimittajat.toim_tuoteno', params['tuotteen_toimittajat.toim_tuoteno'] %>
      </td>
    </tr>

    <tr>
      <th align='right'>
        <%= label_tag :nimitys, t('.label') %>
      </th>
      <td>
        <%= text_field_tag :nimitys, params[:nimitys] %>
      </td>
    </tr>

    <tr>
      <th align='right'>
        <%= label_tag :status, t('.deleted') %>
      </th>
      <td>
        <%= select_tag :status,
                       options_for_select(pending_status_options, params[:status]),
                       { class: 'chosen-select' } %>
      </td>
    </tr>

    <tr>
      <th align='right'>
        <%= label_tag :ei_saldoa, t('.inventory_management_products') %>
      </th>
      <td>
        <%= select_tag :ei_saldoa,
                       options_for_select(pending_ei_saldoa_options, params[:ei_saldoa]),
                       { class: 'chosen-select' } %>
      </td>
    </tr>

    <tr>
      <th align='right'>
        <%= label_tag :only_catalog, t('.only_catalog') %>
      </th>
      <td>
        <%= check_box_tag :only_catalog %>
      </td>
    </tr>

  </table>

  <%= render 'products/categories_selection' %>

  <%= submit_tag t('.search') %>

<% end %>

<br>

<%= form_tag pending_product_updates_list_of_changes_path, method: :get do %>
  <%= submit_tag t('.list_all') %>
<% end %>
