<%= return_link t('pending_product_updates.index.header'), pending_product_updates_path %>

<br><br>

<table>

<tr>
  <th>
    <%= t('.sku') %>
  </th>
  <th>
    <%= t('.label') %>
  </th>
</tr>

<% @products.each do |p| %>
  <tr>
    <td>
      <%= p.tuoteno %>
    </td>
    <td>
      <%= p.nimitys %>
    </td>
  </tr>
<% end %>

</table>
