<%= return_link t('pending_product_updates.index.header'), pending_product_updates_path %>

<br><br>

<% @products.each do |product| %>
  <%= render "administration/form_errors", resource: product %>
<% end %>

<div id='notice' class='hidden'></div>

<table>

<tr>
  <th>
    <%= t('.sku') %>
  </th>
  <th>
    <%= t('.label') %>
  </th>
  <th>

  </th>
</tr>

<% @products.each do |product| %>
  <tr class='rows aktiivi'>
    <td>
      <%= product.tuoteno %>
    </td>
    <td>
      <%= product.nimitys %>
    </td>
    <td>
      <%= form_for product, url: pending_product_update_path(product.id), remote: true do |f| %>

        <div id='<%= "pending_updates_#{product.id}" %>'>

          <%= f.fields_for :pending_updates do |pending_update| %>
            <%= render 'pending_update_fields', f: pending_update %>
          <% end %>

        </div>

        <%= link_to_add_association t('.link_new'), f, :pending_updates,
            data: { association_insertion_method: :append, association_insertion_node: "#pending_updates_#{product.id}"},
            partial: 'pending_update_fields',
            render_options: { class: 'button' } %>
      <% end %>
    </td>
  </tr>
<% end %>

</table>
