<%= return_link t('pending_product_updates.index.header'), pending_product_updates_path %>

<br><br>

<%= form_for :pending_update, url: pending_product_updates_to_product_path, method: :post do |f| %>
  <% @products.pluck(:tunnus).each do |id| %>
    <%= f.hidden_field :product_ids, multiple: true, value: id %>
  <% end %>
  <%= f.submit t('.deploy_all'), data: { confirm: t('.deploy_confirmation') } %>
<% end %>

<br><br>

<table class="full-width">

<tr>
  <th></th>
  <th><%= t('.sku') %></th>
  <th><%= t('.label') %></th>
  <th><%= t('.price') %></th>
  <th><%= t('.shop_price') %></th>
  <th><%= t('.short_description') %></th>
  <th><%= Product.human_attribute_name(:muutospvm) %></th>
  <th></th>
</tr>

<% @products.each do |product| %>
  <tr class='rows aktiivi <%= cycle('', :tumma) %>'>
    <td class='ptop'>
      <% if product.cover_image.present? %>
        <% product.attachments.images.order(:jarjestys, :tunnus).each_with_index do |f, i| %>
          <a href='gallery/<%= f.id %>' data-lightbox='<%= product.id %>'>
            <% klass = i > 0 ? 'hidden' : '' %>
            <img src="gallery/<%= f.id %>" alt="thumb1" height="100" class='<%= klass %>' />
          </a>
        <% end %>
      <% end %>
    </td>

    <td class='ptop'><%= product.tuoteno %></td>
    <td class='ptop'><%= product.nimitys %></td>
    <td class='ptop'><%= number_to_currency(product.myyntihinta) %></td>
    <td class='ptop'><%= number_to_currency(product.myymalahinta) %></td>
    <td class='ptop'><%= product.lyhytkuvaus %></td>
    <td class="ptop"><%= l(product.muutospvm) %></td>
    <td id="pending_update_container_<%= product.id %>" class='ptop pending_update'>
      <%= render 'form', product: product %>
    </td>
  </tr>
<% end %>

</table>
