<%= render "administration/form_errors", resource: @sum_level %>

<% # Since we don't want to use the 'real' url for STI models, we need this ugly hack (for now)
  if action_name == 'edit'
    url = sum_level_path @sum_level
    method = :put
  else
    url = sum_levels_path
    method = :post
  end
%>

<%= form_for :sum_level, url: url, method: method do |f| %>

  <table>

    <tr>
      <th><%= f.label :tyyppi %></th>
      <td>
        <%= f.select :tyyppi, sum_level_tyyppi_options, {}, { onchange: "submit()" } %>
      </td>
    </tr>

    <tr>
      <th><%= f.label :summattava_taso %></th>
      <td><%= f.text_field :summattava_taso %></td>
    </tr>

    <tr>
      <th><%= f.label :taso %></th>
      <td><%= f.text_field :taso %></td>
    </tr>

    <tr>
      <th><%= f.label :nimi %></th>
      <td><%= f.text_field :nimi %></td>
    </tr>

    <% if @sum_level.tyyppi != 'E' %>
      <tr>
        <th><%= f.label :oletusarvo %></th>
        <td><%= f.text_field :oletusarvo %></td>
      </tr>

      <tr>
        <th><%= f.label :kerroin %></th>
        <td><%= f.text_field :kerroin %></td>
      </tr>

      <tr>
        <th><%= f.label :jakaja %></th>
        <td><%= f.text_field :jakaja %></td>
      </tr>

      <tr>
        <th><%= f.label :kumulatiivinen %></th>
        <td>
          <%= f.select :kumulatiivinen, kumulatiivinen_options %>
        </td>
      </tr>
    <% end %>

    <% if @sum_level.tyyppi == "U" %>
      <tr>
        <th><%= f.label :kayttotarkoitus %></th>
        <td>
          <%= f.select :kayttotarkoitus, kayttotarkoitus_options %>
        </td>
      </tr>
    <% end %>

    <% if @sum_level.tyyppi == 'E' %>
      <tr>
        <th><%= f.label :poisto_vastatili %></th>
        <td>
          <%= f.text_field :poisto_vastatili %>
        </td>
      </tr>

      <tr>
        <th><%= f.label :poistoero_tili %></th>
        <td>
          <%= f.text_field :poistoero_tili %>
        </td>
      </tr>

      <tr>
        <th><%= f.label :poistoero_vastatili %></th>
        <td>
          <%= f.text_field :poistoero_vastatili %>
        </td>
      </tr>

      <tr>
        <th><%= f.label :planned_depreciation_type %></th>
        <td>
          <%= f.select :planned_depreciation_type, FixedAssets::Commodity.options_for_type, {}, { onchange: "submit()" } %>
        </td>
      </tr>

      <tr>
        <th><%= f.label :planned_depreciation_amount %></th>
        <td>
          <%= f.text_field :planned_depreciation_amount %>
          <%= @sum_level.planned_depreciation_type %>
        </td>

      </tr>

      <tr>
        <th><%= f.label :btl_depreciation_type %></th>
        <td>
          <%= f.select :btl_depreciation_type, FixedAssets::Commodity.options_for_type, {}, { onchange: "submit()" } %>
        </td>
      </tr>

      <tr>
        <th><%= f.label :btl_depreciation_amount %></th>
        <td>
          <%= f.text_field :btl_depreciation_amount %>
          <%= @sum_level.btl_depreciation_type %>
        </td>
      </tr>

    <% end %>

    <%= render 'administration/resource_timestamps_and_users', resource: @sum_level %>

  </table>

  <%= render 'administration/actions', f: f %>

<% end %>
