<%= render "administration/header", text: t('.header') %>

<%= button_to_new :sum_level %>

<br/><br/>

<%= form_tag sum_levels_path, method: :get do %>
  <%= hidden_field_tag :alias_set, params[:alias_set] %>

  <table>

    <tr>
      <th>
        <%= sortable 'taso', SumLevel.human_attribute_name(:taso) %>
        <br/>
        <%= text_field_tag :taso, params[:taso] %>
      </th>

      <th>
        <%= sortable 'tyyppi', SumLevel.human_attribute_name(:tyyppi) %>
        <br/>
        <%= text_field_tag :tyyppi, params[:tyyppi] %>
      </th>

      <th>
        <%= sortable 'nimi', SumLevel.human_attribute_name(:nimi) %>
        <br/>
        <%= text_field_tag :nimi, params[:nimi] %>
      </th>

      <th>
        <%= sortable 'summattava_taso', SumLevel.human_attribute_name(:summattava_taso) %>
        <br/>
        <%= text_field_tag :summattava_taso, params[:summattava_taso] %>
      </th>

      <th>
        <%= sortable 'kumulatiivinen', SumLevel.human_attribute_name(:kumulatiivinen) %>
        <br/>
        <%= text_field_tag :kumulatiivinen, params[:kumulatiivinen] %>
      </th>

      <th>
        <%= sortable 'oletusarvo', SumLevel.human_attribute_name(:oletusarvo) %>
        <br/>
        <%= text_field_tag :oletusarvo, params[:oletusarvo] %>
      </th>

      <th>
        <%= sortable 'kerroin', SumLevel.human_attribute_name(:kerroin) %>
        <br/>
        <%= text_field_tag :kerroin, params[:kerroin] %>
      </th>

      <th>
        <%= sortable 'jakaja', SumLevel.human_attribute_name(:jakaja) %>
        <br/>
        <%= text_field_tag :jakaja, params[:jakaja] %>
      </th>

      <th class="back">
        <%= submit_tag t('.button_search') %>
      </th>
    </tr>

    <% @sum_levels.each do |sum_level| %>
      <% next if sum_level.nil? %>
      <tr class="aktiivi">
        <td>
          <%= link_to sum_level.taso, edit_sum_level_path(sum_level.tunnus) %>
        </td>

        <td>
          <%= sum_level.tyyppi %>
        </td>

        <td>
          <%= sum_level.nimi %>
        </td>

        <td>
          <%= sum_level.summattava_taso %>
        </td>

        <td>
          <% if sum_level.cumulative? %>
            <%=t 'administration.sum_levels.kumulatiivinen_options.cumulative' %>
          <% else %>
            <%=t 'administration.sum_levels.kumulatiivinen_options.not_cumulative' %>
          <% end %>
        </td>

        <td>
          <%= sum_level.oletusarvo %>
        </td>

        <td>
          <%= sum_level.kerroin %>
        </td>

        <td>
          <%= sum_level.jakaja %>
        </td>

        <td class="back">
        </td>
      </tr>
    <% end %>

  </table>

<% end %>

<br/>

<%= button_to_new :sum_level %>
