<%= form_for(@account) do |f| %>

  <%= render "administration/form_errors", resource: @account %>

  <table>
    <tr>
      <th><%= f.label :tilino %></th>
      <td><%= f.text_field :tilino %></td>
    </tr>

    <tr>
      <th><%= f.label :tasokoodi_s %></th>
      <td>
        <%= f.collection_select(:sisainen_taso,
            levels[:internal],
            :taso,
            :sum_level_name,
            include_blank: t('administration.accounts.edit.no_sum_level'), selected: account.sisainen_taso) %>
      </td>
    </tr>

    <tr>
      <th><%= f.label :tasokoodi_u %></th>
      <td>
        <%= f.collection_select(:ulkoinen_taso,
            levels[:external],
            :taso,
            :sum_level_name,
            include_blank: t('administration.accounts.edit.no_sum_level'), selected: account.ulkoinen_taso) %>
      </td>
    </tr>

    <tr>
      <th><%= f.label :tasokoodi_a %></th>
      <td>
        <%= f.collection_select(:alv_taso,
            levels[:vat],
            :taso,
            :sum_level_name,
            include_blank: t('administration.accounts.edit.no_sum_level'), selected: account.alv_taso) %>
      </td>
    </tr>

    <tr>
      <th><%= f.label :tasokoodi_b %></th>
      <td>
        <%= f.collection_select(:tulosseuranta_taso,
            levels[:profit],
            :taso,
            :sum_level_name,
            include_blank: t('administration.accounts.edit.no_sum_level'), selected: account.tulosseuranta_taso) %>
      </td>
    </tr>

    <tr>
      <th><%= f.label :tasokoodi_e %></th>
      <td>
        <%= f.collection_select(:evl_taso,
            levels[:commodity],
            :taso,
            :sum_level_name,
            include_blank: t('administration.accounts.edit.no_sum_level'), selected: account.evl_taso) %>
      </td>
    </tr>

    <tr>
      <th><%= f.label :nimi %></th>
      <td><%= f.text_field :nimi %></td>
    </tr>

    <tr>
      <th><%= f.label :kustp %></th>
      <td>
        <%= f.collection_select(:kustp,
            qualifiers[:cost_center],
            :tunnus,
            :nimitys,
            include_blank: t('administration.accounts.edit.no_cost_center'),
            selected: account.kustp) %>
      </td>
    </tr>

    <tr>
      <th><%= f.label :kohde %></th>
      <td>
        <%= f.collection_select(:kohde,
            qualifiers[:target],
            :tunnus,
            :nimitys,
            include_blank: t('administration.accounts.edit.no_target'),
            selected: account.kohde) %>
      </td>
    </tr>

    <tr>
      <th><%= f.label :projekti %></th>
      <td>
        <%= f.collection_select(:projekti,
            qualifiers[:project],
            :tunnus,
            :nimitys,
            include_blank: t('administration.accounts.edit.no_project'),
            selected: account.projekti) %>
      </td>
    </tr>

    <tr>
      <th><%= f.label :toimijaliitos %></th>
      <td>
        <%= f.select(:toimijaliitos, toimijaliitos_options) %>
      </td>
    </tr>

    <tr>
      <th><%= f.label :tiliointi_tarkistus %></th>
      <td>
        <%= f.select(:tiliointi_tarkistus, tiliointi_tarkistus_options) %>
      </td>
    </tr>

    <tr>
      <th><%= f.label :manuaali_esto %></th>
      <td>
        <%= f.select(:manuaali_esto, manuaali_esto_options) %>
      </td>
    </tr>

    <tr>
      <th><%= f.label :oletus_alv %></th>
      <td>
        <%= f.collection_select(:oletus_alv,
            oletus_alv_options,
            :vat_percent,
            :vat_percent_text,
            include_blank: t('administration.accounts.edit.no_vat')) %>
      </td>
    </tr>

    <%= render 'administration/resource_timestamps_and_users', resource: account %>

  </table>

  <%= render 'administration/actions', f: f %>

<% end %>
