<%= render "administration/form_errors", resource: @account %>

<%= simple_form_for @account,
    builder: AdminFormBuilder,
    defaults: { input_html: { class: :large } },
    alias_set: params[:alias_set] do |f| %>

  <table width='600' class='admin-view-30'>

    <%= f.input :tilino, input_html: { class: :small } %>
    <%= f.input :nimi %>
    <%= f.input :ulkoinen_taso, collection: ulkoinen_taso_options %>
    <%= f.input :sisainen_taso, collection: sisainen_taso_options %>
    <%= f.input :kustp, collection: kustp_options, include_blank: t('administration.accounts.edit.no_cost_center') %>
    <%= f.input :kohde, collection: kohde_options, include_blank: t('administration.accounts.edit.no_target') %>
    <%= f.input :projekti, collection: projekti_options, include_blank: t('administration.accounts.edit.no_project') %>
    <%= f.input :alv_taso, collection: alv_taso_options, include_blank: t('administration.accounts.edit.no_sum_level') %>
    <%= f.input :tulosseuranta_taso, collection: tulosseuranta_taso_options, include_blank: t('administration.accounts.edit.no_sum_level') %>
    <%= f.input :evl_taso, collection: evl_taso_options, include_blank: t('administration.accounts.edit.no_sum_level') %>
    <%= f.input :oletus_alv, collection: oletus_alv_options, include_blank: t('administration.accounts.edit.no_vat') %>
    <%= f.input :toimijaliitos, collection: toimijaliitos_options, include_blank: false %>
    <%= f.input :tiliointi_tarkistus, collection: tiliointi_tarkistus_options, include_blank: false %>
    <%= f.input :manuaali_esto, collection: manuaali_esto_options, include_blank: false %>

    <%= render 'administration/resource_timestamps_and_users', resource: @account %>

  </table>

  <br>

  <%= f.button :submit %>

<% end %>
