<%= render "administration/form_errors", resource: @account %>

<%= form_for @account do |f| %>

  <table>
    <tr>
      <th><%= f.label :tilino %></th>
      <td><%= f.text_field :tilino %></td>
    </tr>

    <tr>
      <th><%= f.label :sisainen_taso %></th>
      <td>
        <%= f.select :sisainen_taso, sisainen_taso_options,
            include_blank: t('administration.accounts.edit.no_sum_level') %>
      </td>
    </tr>

    <tr>
      <th><%= f.label :ulkoinen_taso %></th>
      <td>
        <%= f.select :ulkoinen_taso, ulkoinen_taso_options,
            include_blank: t('administration.accounts.edit.no_sum_level') %>
      </td>
    </tr>

    <tr>
      <th><%= f.label :alv_taso %></th>
      <td>
        <%= f.select :alv_taso, alv_taso_options,
            include_blank: t('administration.accounts.edit.no_sum_level') %>
      </td>
    </tr>

    <tr>
      <th><%= f.label :tulosseuranta_taso %></th>
      <td>
        <%= f.select :tulosseuranta_taso, tulosseuranta_taso_options,
            include_blank: t('administration.accounts.edit.no_sum_level') %>
      </td>
    </tr>

    <tr>
      <th><%= f.label :evl_taso %></th>
      <td>
        <%= f.select :evl_taso, evl_taso_options,
            include_blank: t('administration.accounts.edit.no_sum_level') %>
      </td>
    </tr>

    <tr>
      <th><%= f.label :nimi %></th>
      <td><%= f.text_field :nimi %></td>
    </tr>

    <tr>
      <th><%= f.label :kustp %></th>
      <td>
        <%= f.select :kustp, kustp_options,
            include_blank: t('administration.accounts.edit.no_cost_center') %>
      </td>
    </tr>

    <tr>
      <th><%= f.label :kohde %></th>
      <td>
        <%= f.select :kohde, kohde_options,
            include_blank: t('administration.accounts.edit.no_target') %>
      </td>
    </tr>

    <tr>
      <th><%= f.label :projekti %></th>
      <td>
        <%= f.select :projekti, projekti_options,
            include_blank: t('administration.accounts.edit.no_project') %>
      </td>
    </tr>

    <tr>
      <th><%= f.label :toimijaliitos %></th>
      <td>
        <%= f.select :toimijaliitos, toimijaliitos_options %>
      </td>
    </tr>

    <tr>
      <th><%= f.label :tiliointi_tarkistus %></th>
      <td>
        <%= f.select :tiliointi_tarkistus, tiliointi_tarkistus_options %>
      </td>
    </tr>

    <tr>
      <th><%= f.label :manuaali_esto %></th>
      <td>
        <%= f.select :manuaali_esto, manuaali_esto_options %>
      </td>
    </tr>

    <tr>
      <th><%= f.label :oletus_alv %></th>
      <td>
        <%= f.select :oletus_alv, oletus_alv_options,
            include_blank: t('administration.accounts.edit.no_vat') %>
      </td>
    </tr>

    <%= render 'administration/resource_timestamps_and_users', resource: @account %>

  </table>

  <%= render 'administration/actions', f: f %>

<% end %>
