<%= render "administration/header", text: t('.header') %>

<%= button_to t('Uusi tili'), new_account_path, method: :get if update_access? %>

<br/><br/>
<%= form_tag accounts_path, method: :get do %>
  <table>

    <tr>
      <th>
        <%= sortable 'tilino' %>
        <br/>
        <%= text_field_tag :tilino, params[:tilino] %>
      </th>

      <th>
        <%= sortable 'nimi' %>
        <br/>
        <%= text_field_tag :nimi, params[:nimi] %>
      </th>

      <th>
        <%= sortable 'sisainen_taso' %>
        <br/>
        <%= text_field_tag :sisainen_taso, params[:sisainen_taso] %>
      </th>

      <th>
        <%= label_tag :sisainen_nimi %>
      </th>

      <th>
        <%= sortable 'ulkoinen_taso' %>
        <br/>
        <%= text_field_tag :ulkoinen_taso, params[:ulkoinen_taso] %>
      </th>

      <th>
        <%= label_tag :ulkoinen_nimi %>
      </th>

      <th>
        <%= sortable 'alv_taso' %>
        <br/>
        <%= text_field_tag :alv_taso, params[:alv_taso] %>
      </th>

      <th>
        <%= label_tag :alv_nimi %>
      </th>

      <th class="back">
        <%= submit_tag t('Etsi') %>
      </th>
    </tr>

    <% @accounts.each do |account| %>
      <tr class="aktiivi">
        <td>
          <%= link_to account.tilino, edit_account_path(account.id) %>
        </td>

        <td>
          <%= account.nimi %>
        </td>

        <td>
          <%= account.sisainen_taso %>
        </td>

        <td>
          <%= account.internal.try(:nimi) %>
        </td>

        <td>
          <%= account.ulkoinen_taso %>
        </td>

        <td>
          <%= account.external.try(:nimi) %>
        </td>

        <td>
          <%= account.alv_taso %>
        </td>

        <td>
          <%= account.vat.try(:nimi) %>
        </td>

        <td class="back"></td>
      </tr>
    <% end %>

  </table>

<% end %>
<br/>

<%= button_to t('Uusi tili'), new_account_path, method: :get if update_access? %>
