<%= render "administration/header", text: t('.header') %>

<%= button_to_new :account %>

<br/><br/>

<%= form_tag accounts_path, method: :get do %>

  <table>

    <tr>
      <th width='150'>
        <%= sortable 'tilino', Account.human_attribute_name(:tilino) %>
        <br/>
        <%= text_field_tag :tilino, params[:tilino] %>
      </th>

      <th width='500'>
        <%= sortable 'nimi', Account.human_attribute_name(:nimi) %>
        <br/>
        <%= text_field_tag :nimi, params[:nimi] %>
      </th>

      <th width='200'>
        <%= sortable 'sisainen_taso', Account.human_attribute_name(:sisainen_taso) %>
      </th>

      <th width='200'>
        <%= sortable 'ulkoinen_taso', Account.human_attribute_name(:ulkoinen_taso) %>
      </th>

      <th width='200'>
        <%= sortable 'alv_taso', Account.human_attribute_name(:alv_taso) %>
      </th>

      <th class="back">
        <%= submit_tag t('.button_search') %>
      </th>
    </tr>

    <% @accounts.each do |account| %>
      <tr class="aktiivi">
        <td>
          <%= link_to account.tilino, edit_account_path(account.id) %>
        </td>

        <td>
          <%= account.nimi %>
        </td>

        <td>
          <%= account.internal.try(:sum_level_name) %>
        </td>

        <td>
          <%= account.external.try(:sum_level_name) %>
        </td>

        <td>
          <%= account.vat.try(:sum_level_name) %>
        </td>

        <td class="back"></td>
      </tr>
    <% end %>

  </table>

<% end %>

<br/>

<%= button_to_new :account %>
