<%= render "administration/form_errors", resource: @bank_account %>

<%= form_for @bank_account do |f| %>

  <table>
    <tr>
      <th><%= f.label :kaytossa %></th>
      <td><%= f.select :kaytossa, kaytossa_options %></td>
    </tr>
    <tr>
      <th><%= f.label :nimi %></th>
      <td><%= f.text_field :nimi %></td>
    </tr>
    <tr>
      <th><%= f.label :iban %></th>
      <td><%= f.text_field :iban %></td>
    </tr>
    <tr>
      <th><%= f.label :bic %></th>
      <td><%= f.text_field :bic %></td>
    </tr>
    <tr>
      <th><%= f.label :valkoodi %></th>
      <td><%= f.select :valkoodi, currency_options %></td>
    </tr>
    <tr>
      <th><%= f.label :factoring %></th>
      <td><%= f.select :factoring, factoring_options %></td>
    </tr>
    <tr>
      <th><%= f.label :asiakastunnus %></th>
      <td><%= f.text_field :asiakastunnus %></td>
    </tr>
    <tr>
      <th><%= f.label :maksulimitti %></th>
      <td><%= f.text_field :maksulimitti %></td>
    </tr>
    <tr>
      <th><%= f.label :tilinylitys %></th>
      <td><%= f.select :tilinylitys, tilinylitys_options %></td>
    </tr>
    <tr>
      <th><%= f.label :hyvak %></th>
      <td>
        <%= f.select :hyvak, hyvaksyja_options, include_blank: true %>
      </td>
    </tr>
    <tr>
      <th><%= f.label :oletus_kulutili %></th>
      <td>
        <%= f.text_field :oletus_kulutili %>
        <%= account_name @bank_account.oletus_kulutili %>
      </td>
    </tr>
    <tr>
      <th><%= f.label :oletus_kustp %></th>
      <td>
        <%= f.select :oletus_kustp, kustannuspaikka_options, include_blank: true %>
      </td>
    </tr>
    <tr>
      <th><%= f.label :oletus_kohde %></th>
      <td>
        <%= f.select :oletus_kohde, kohde_options, include_blank: true %>
      </td>
    </tr>
    <tr>
      <th><%= f.label :oletus_projekti %></th>
      <td>
        <%= f.select :oletus_projekti, projekti_options, include_blank: true %>
      </td>
    </tr>
    <tr>
      <th><%= f.label :oletus_rahatili %></th>
      <td>
        <%= f.text_field :oletus_rahatili %>
        <%= account_name @bank_account.oletus_rahatili %>
      </td>
    </tr>
    <tr>
      <th><%= f.label :oletus_selvittelytili %></th>
      <td>
        <%= f.text_field :oletus_selvittelytili %>
        <%= account_name @bank_account.oletus_selvittelytili %>
      </td>
    </tr>

    <%= render 'administration/resource_timestamps_and_users', resource: @bank_account %>

  </table>

  <%= render 'administration/actions', f: f %>

<% end %>
