<%= render "administration/form_errors", resource: @bank_account %>

<%= simple_form_for @bank_account,
    builder: AdminFormBuilder,
    defaults: { input_html: { class: :large } },
    alias_set: params[:alias_set] do |f| %>

  <table width='600' class='admin-view-30'>
    <%= f.input :kaytossa, collection: tili_kaytossa_options, include_blank: false %>
    <%= f.input :nimi %>
    <%= f.input :iban %>
    <%= f.input :tilino %>
    <%= f.input :bic, input_html: { class: :small } %>
    <%= f.input :asiakastunnus, input_html: { class: :small } %>
    <%= f.input :maksulimitti, input_html: { class: :small } %>
    <%= f.input :valkoodi, collection: currency_options, include_blank: false %>
    <%= f.input :oletus_kulutili, collection: tili_options %>
    <%= f.input :oletus_rahatili, collection: tili_options %>
    <%= f.input :oletus_selvittelytili, collection: tili_options %>
    <%= f.input :hyvak, collection: kuka_options %>
    <%= f.input :oletus_kustp, collection: kustp_options %>
    <%= f.input :oletus_kohde, collection: kohde_options %>
    <%= f.input :oletus_projekti, collection: projekti_options %>
    <%= f.input :factoring, collection: bank_account_factoring_options, include_blank: false %>
    <%= f.input :tilinylitys, collection: tilinylitys_options, include_blank: false %>

    <%= render 'administration/resource_timestamps_and_users', resource: @bank_account %>

  </table>

  <br>

  <%= f.button :submit %>

<% end %>
