<%= render "administration/form_errors", resource: @bank_account %>

<%= form_for @bank_account do |f| %>

  <table>
    <tr>
      <th><%= f.label :kaytossa, t("Käytössä") %></th>
      <td><%= f.select :kaytossa, kaytossa_options %></td>
    </tr>
    <tr>
      <th><%= f.label :nimi, t("Nimi") %></th>
      <td><%= f.text_field :nimi %></td>
    </tr>
    <tr>
      <th><%= f.label :iban, t("IBAN") %></th>
      <td><%= f.text_field :iban %></td>
    </tr>
    <tr>
      <th><%= f.label :bic, t("BIC") %></th>
      <td><%= f.text_field :bic %></td>
    </tr>
    <tr>
      <th><%= f.label :valkoodi, t("Valuutta") %></th>
      <td><%= f.select :valkoodi, currency_options %></td>
    </tr>
    <tr>
      <th><%= f.label :factoring, t("Factoring") %></th>
      <td><%= f.select :factoring, factoring_options %></td>
    </tr>
    <tr>
      <th><%= f.label :asiakastunnus, t("Asiakastunnus") %></th>
      <td><%= f.text_field :asiakastunnus %></td>
    </tr>
    <tr>
      <th><%= f.label :maksulimitti, t("Maksulimitti") %></th>
      <td><%= f.text_field :maksulimitti %></td>
    </tr>
    <tr>
      <th><%= f.label :tilinylitys, t("Tilinylitys") %></th>
      <td><%= f.select :tilinylitys, tilinylitys_options %></td>
    </tr>
    <tr>
      <th><%= f.label :hyvak, t("Oletushyväksyjä") %></th>
      <td>
        <%= f.select :hyvak, hyvaksyja_options, include_blank: t("Ei kukaan") %>
      </td>
    </tr>
    <tr>
      <th><%= f.label :oletus_kulutili, t("Oletuskulutili") %></th>
      <td>
        <%= f.text_field :oletus_kulutili %>
        <%= account_name @bank_account.oletus_kulutili %>
      </td>
    </tr>
    <tr>
      <th><%= f.label :oletus_kustp, t("Oletuskusannuspaikka") %></th>
      <td>
        <%= f.select :oletus_kustp, kustannuspaikka_options, include_blank: t("Ei kustannuspaikkaa") %>
      </td>
    </tr>
    <tr>
      <th><%= f.label :oletus_kohde, t("Oletuskohde") %></th>
      <td>
        <%= f.select :oletus_kohde, kohde_options, include_blank: t("Ei kohdetta") %>
      </td>
    </tr>
    <tr>
      <th><%= f.label :oletus_projekti, t("Oletusprojekti") %></th>
      <td>
        <%= f.select :oletus_projekti, projekti_options, include_blank: t("Ei projektia") %>
      </td>
    </tr>
    <tr>
      <th><%= f.label :oletus_rahatili %></th>
      <td>
        <%= f.text_field :oletus_rahatili %>
        <%= account_name @bank_account.oletus_rahatili %>
      </td>
    </tr>
    <tr>
      <th><%= f.label :oletus_selvittelytili %></th>
      <td>
        <%= f.text_field :oletus_selvittelytili %>
        <%= account_name @bank_account.oletus_selvittelytili %>
      </td>
    </tr>

    <%= render 'administration/resource_timestamps_and_users', resource: @bank_account %>

  </table>

  <%= render 'administration/actions', f: f %>

<% end %>
