<%= render "administration/header", text: t('.header') %>

<%= button_to t('.button_new'), new_bank_account_path, method: :get if update_access? %>

<%= form_tag bank_accounts_path, method: :get do %>
  <% if show_used? %>
    <%= hidden_field_tag :not_used, :no %>
    <%= submit_tag t('.show_active') %>
  <% else %>
    <%= hidden_field_tag :not_used, :yes %>
    <%= submit_tag t(".show_inactive") %>
  <% end %>
<% end %>

<br/><br/>

<%= form_tag bank_accounts_path, method: :get do %>
  <table>
    <tr>
      <th>
        <%= sortable :nimi %>
        <br/>
        <%= text_field_tag :nimi, params[:nimi] %>
      </th>

      <th>
        <%= sortable :iban %>
        <br/>
        <%= text_field_tag :iban, params[:iban] %>
      </th>

      <th>
        <%= sortable :maksulimitti %>
        <br/>
        <%= text_field_tag :maksulimitti, params[:maksulimitti] %>
      </th>

      <th>
        <%= sortable :oletus_kulutili %>
        <br/>
        <%= text_field_tag :oletus_kulutili, params[:oletus_kulutili] %>
      </th>

      <th>
        <%= sortable :oletus_rahatili %>
        <br/>
        <%= text_field_tag :oletus_rahatili, params[:oletus_rahatili] %>
      </th>

      <th>
        <%= sortable :oletus_selvittelytili %>
        <br/>
        <%= text_field_tag :oletus_selvittelytili, params[:oletus_selvittelytili] %>
      </th>

      <th class="back">
        <%= submit_tag t('.button_search') %>
      </th>
    </tr>

    <% @bank_accounts.each do |bank_account| %>
      <% classes = bank_account.active? ? "" : " class=line-through" %>
      <tr class="aktiivi">
        <td><%= link_to bank_account.nimi, edit_bank_account_path(bank_account) %></td>
        <td<%= classes %>>
          <%= bank_account.iban.empty? ? bank_account.tilino : bank_account.iban %>
        </td>
        <td<%= classes %>><%= bank_account.maksulimitti %></td>
        <td<%= classes %>><%= bank_account.oletus_kulutili %></td>
        <td<%= classes %>><%= bank_account.oletus_rahatili %></td>
        <td<%= classes %>><%= bank_account.oletus_selvittelytili %></td>
      </tr>
    <% end %>
  </table>
<% end %>

<br/>

<%= button_to t('.button_new'), new_bank_account_path, method: :get if update_access? %>
