<%= render "administration/header", text: t("Tilinpäätöksen liitetiedot") %>

<table>
  <tr>
    <th colspan= '100%'><%= t('Tiliryhmittäin')%></th>
  </tr>

  <% @report.data.each do |d, v| %>
    <tr>
      <td><%= d %>
      <td><%= v[:nimi] %></td>
    </tr>
    <tr>
      <td><%= t('Hankintameno') %></td>
      <td><%= v[:hankintameno] %></td>
    </tr>
    <tr>
      <td><%= t('Kert.sumupoisto') %></td>
      <td><%= v[:kert_sumupoisto_before].to_s %></td>
    </tr>
    <tr>
      <td><%= t('Sumupoisto') %></td>
      <td><%= v[:sumupoisto].to_s %></td>
    </tr>
    <tr>
      <td><%= t('Kert.sumupoisto') %></td>
      <td><%= v[:kert_sumupoisto_after].to_s %></td>
    </tr>
    <tr>
      <td><%= t('Kert.poistoero') %></td>
      <td><%= v[:kert_poistoero_before] %></td>
    </tr>
    <tr>
      <td><%= t('Poistoero') %></td>
      <td><%= v[:kert_poistoero] %></td>
    </tr>
    <tr>
      <td><%= t('Kert.poistoero') %></td>
      <td><%= v[:kert_poistoero_after] %></td>
    </tr>
    <tr><td colspan='100%'></td></tr>
    <tr>
      <td><%= t('Hankintameno') %></td>
      <td><%= v[:hankintameno] %></td>
    </tr>
    <tr>
      <td><%= t('Kert.sumupoisto') %></td>
      <td><%= v[:kert_sumupoisto_after].to_s %></td>
    </tr>
    <tr>
      <td><%= t('Kert.poistoero') %></td>
      <td><%= v[:kert_poistoero_after] %></td>
    </tr>
    <tr>
      <td><%= t('Evl-menojäännös') %></td>
      <td><%= v[:kert_evl_after] %></td>
    </tr>
    <tr>
      <td><%= t('Poistamaton osa') %></td>
      <td><%= v[:poistamaton_osa] %></td>
    </tr>
    <tr><td colspan='100%' height='30'></td></tr>
  <% end %>
</table>
