<h1 class="head">
  <%= t('.title') %>
</h1>

<hr/>

<% if notice %>
  <%= notice %>
  <br/><br/>
<% end %>

<%= form_tag revenue_expenditure_path, method: :get do %>
  <table>
    <tr>
      <th>
        <%= t('.period') %>
      </th>
      <td>
        <%= select_tag :period, options_for_select(month_options, params[:period]) %>
      </td>
      <td class='back'>
        <%= submit_tag t('.button_make') %>
      </td>
    </tr>
  </table>
<% end %>

<% if @data %>
  <br><br>

  <table>
    <tr>
      <th><%= t('.history_revenue') %></th>
      <th><%= t('.history_expenditure') %></th>
      <th><%= t('.overdue_accounts_receivable') %></th>
      <th><%= t('.overdue_accounts_payable') %></th>
    </tr>
    <tr>
      <td><%= @data[:history_salesinvoice] %></td>
      <td><%= @data[:history_purchaseinvoice] %></td>
      <td><%= @data[:overdue_accounts_receivable] %></td>
      <td><%= @data[:overdue_accounts_payable] %></td>
    </tr>
  </table>

  <br>

  <table id='rows_table'>
    <tr>
      <th><%= t('.week') %></th>
      <th><%= t('.revenue') %></th>
      <th><%= t('.expenditure') %></th>
      <th><%= t('.concern_accounts_receivable') %></th>
      <th><%= t('.concern_accounts_payable') %></th>
      <th class='back'></th>
    </tr>

    <% @data[:weekly].each do |week| %>
      <tr>
        <td><%= week[:week] %></td>
        <td><%= week[:sales] %></td>
        <td><%= week[:purchases] %></td>
        <td><%= week[:concern_accounts_receivable] %></td>
        <td><%= week[:concern_accounts_payable] %></td>
        <td class='back'>
          <%= button_tag '+', type: 'button', class: 'custom_expenditure_rows', id: week[:week_sanitized] %>
        </td>
      </tr>

      <%= render 'alternative_expenditures', week: week[:week], week_sanitized: week[:week_sanitized] %>
    <% end %>

    <tr>
      <th><%= t('.summary') %></th>
      <th><%= @data[:weekly_sum][:sales] %></th>
      <th><%= @data[:weekly_sum][:purchases] %></th>
      <th><%= @data[:weekly_sum][:concern_accounts_receivable] %></th>
      <th><%= @data[:weekly_sum][:concern_accounts_payable] %></th>
      <th class='back'></th>
    </tr>
  </table>
<% end %>
