<!DOCTYPE html>
<html>
<head>
  <title>Pupesoft</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag current_user.company.parameter.css unless current_user.nil? %>
</head>
<body>

<%= yield %>

</body>
</html>
