<!DOCTYPE html>
<html>
<head>
  <title>Pupesoft</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "company/#{current_user.yhtio}", media: "all" %>
</head>
<body>

<%= yield %>

<br /><br />
<a style="cursor:pointer" onclick="sanakirjaform.submit()"><font class="info">Sanakirja</font></a>

</body>
</html>
