<%= render "administration/header", text: t('.header') %>

<table>
  <tr>
    <th>
      <%= t('.commodity_row_amount') %>
    </th>
    <td>
      <%= @commodity.commodity_rows.sum(:amount).round(2) %>
    </td>
  </tr>
</table>

<br/>

<input type=button value=<%=t('.button_show_hide') %> onclick="showHide('evl_rows');">

<div id='evl_rows' style="display: none;">
  <br/><br/>

  <table>
  <tr>
    <th><%= FixedAssets::CommodityRow.human_attribute_name(:amount) %></th>
    <th><%= FixedAssets::CommodityRow.human_attribute_name(:transacted_at) %></th>
    <th><%= FixedAssets::CommodityRow.human_attribute_name(:description) %></th>
  </tr>
  <% @commodity.commodity_rows.each do |comrow| %>
    <tr>
      <td><%= comrow.amount %></td>
      <td><%= comrow.transacted_at %></td>
      <td><%= comrow.description %></td>
    </tr>
  <% end %>
  </table>

</div>
