<%= form_for(@commodity, url: commodities_path) do |f| %>

  <%= render "administration/form_errors", resource: @commodity %>

  <table>
    <tr>
      <th><%= f.label :name, t('name') %></th>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <th><%= f.label :description, t('description') %></th>
      <td><%= f.text_field :description %></td>
    </tr>
  </table>

  <br />

  <div class="actions">
    <%= f.submit t('Lisää'), disable_with: t('Tallentaa') + '...' %>
  </div>

<% end %>
