<%= form_for(@commodity) do |f| %>
  <% if @commodity.errors.any? %>
    <div id="error_explanation">
      <font class="message">
        <%= pluralize(@commodity.errors.count, t("virhe"), t("virhettä")) %>
        <%= t('esti tätä hyödykettä tallentumasta.') %>
      </font>

      <font class="error">
        <ul>
        <% @commodity.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </font>
    </div>
  <% end %>

  <table>
    <tr>
      <th><%= f.label :name, t('name') %></th>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <th><%= f.label :description, t('description') %></th>
      <td><%= f.text_field :description %></td>
    </tr>
    <tr>
      <th><%= t('Laatija') %></th>
      <td><%= @commodity.created_by %></td>
    </tr>
    <tr>
      <th><%= t('Luontiaika') %></th>
      <td><%= @commodity.created_at %></td>
    </tr>
    <tr>
      <th><%= t('Muutospvm') %></th>
      <td><%= @commodity.updated_at %></td>
    </tr>
    <tr>
      <th><%= t('Muuttaja') %></th>
      <td><%= @commodity.modified_by %></td>
    </tr>
  </table>

  <br />

  <div class="actions">
    <% text = @commodity.persisted? ? 'Tallenna' : 'Lisää' %>
    <%= f.submit t(text), disable_with: t('Tallentaa') + '...' %>
  </div>
  <% end %>
