<%= render "administration/form_errors", resource: @commodity %>

<%= form_for(@commodity, url: commodity_path(@commodity)) do |f| %>
  <table>
    <tr>
      <th><%= f.label t('.name') %></th>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <th><%= f.label t('.description') %></th>
      <td><%= f.text_field :description %></td>
    </tr>
    <tr>
      <th><%= f.label t('.amount') %></th>
      <td><%= @commodity.amount %></td>
    </tr>
    <tr>
      <th><%= t('.bookkeeping_value_now') %></th>
      <td><%= @commodity.bookkeeping_value(Time.now) %></td>
    </tr>
    <tr>
      <th><%= t('.bookkeeping_value') %></th>
      <td><%= @commodity.bookkeeping_value %></td>
    </tr>
    <tr>
      <th><%= t('.btl_value') %></th>
      <td><%= @commodity.btl_value %></td>
    </tr>
    <tr>
      <th><%= t('.previous_btl_depreciations') %></th>
      <td>
        <% if @commodity.activated? %>
          <%= @commodity.previous_btl_depreciations %>
        <% else %>
          <%= f.number_field :previous_btl_depreciations, step: :any %>
        <% end %>
      </td>
    </tr>
    <tr>
      <th><%= t('.transferred_procurement_amount') %></th>
      <td>
        <% if @commodity.activated? %>
          <%= @commodity.transferred_procurement_amount %>
        <% else %>
          <%= f.number_field :transferred_procurement_amount, step: :any %>
        <% end %>
      </td>
    </tr>
    <tr>
      <th><%= t('.cost_centre') %></th>
      <td><%= @commodity.procurement_cost_centres %></td>
    </tr>
    <tr>
      <th><%= t('.target') %></th>
      <td><%= @commodity.procurement_targets %></td>
    </tr>
    <tr>
      <th><%= t('.project') %></th>
      <td><%= @commodity.procurement_projects %></td>
    </tr>
    <tr>
      <th><%= t('.account') %></th>
      <td><%= @commodity.fixed_assets_account %></td>
    </tr>
    <tr>
      <th><%= t('.activated_at') %></th>
      <td>
        <% if @commodity.activated? %>
          <%= @commodity.activated_at %>
        <% else %>
          <%= f.date_field :activated_at, { value: @commodity.procurement_date } %>
        <% end %>
      </td>
    </tr>
    <tr>
      <th><%= f.label t('.status') %></th>
      <td><%= f.select :status, options_for_select(FixedAssets::Commodity.options_for_status, @commodity.status), {}, {:disabled => true} %></td>
    </tr>
      <th><%= f.label t('.planned_depreciation_type') %></th>
      <td><%= f.select :planned_depreciation_type, options_for_select(FixedAssets::Commodity.options_for_type, @commodity.planned_depreciation_type) %></td>
    </tr>
    <tr>
      <th><%= f.label t('.planned_depreciation_amount') %></th>
      <td><%= f.text_field :planned_depreciation_amount, value: @commodity.planned_depreciation_amount %></td>
    </tr>
    <tr>
      <th><%= f.label t('.btl_depreciation_type') %></th>
      <td><%= f.select :btl_depreciation_type, options_for_select(FixedAssets::Commodity.options_for_type, @commodity.btl_depreciation_type) %></td>
    </tr>
    <tr>
      <th><%= f.label t('.btl_depreciation_amount') %></th>
      <td><%= f.text_field :btl_depreciation_amount, value: @commodity.btl_depreciation_amount %></td>
    </tr>
  </table>

  <br/>

  <div class="actions">
    <%= f.submit disable_with: t('administration.actions.button_saving') %>
  </div>
<% end %>
