<%= form_for(@commodity) do |f| %>
  <% if @commodity.errors.any? %>
    <div id="error_explanation">
      <font class="message">
        <%= pluralize(@commodity.errors.count, t("virhe"), t("virhettä")) %>
        <%= t('esti tätä hyödykettä tallentumasta.') %>
      </font>

      <font class="error">
        <ul>
        <% @commodity.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </font>
    </div>
  <% end %>

  <table>
    <tr>
      <th><%= f.label :name, t('name') %></th>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <th><%= f.label :description, t('description') %></th>
      <td><%= f.text_field :description %></td>
    </tr>
    <tr>
      <th><%= f.label :amount, t('amount') %></th>
      <td><%= @commodity.amount %></td>
    </tr>
    <tr>
      <th><%= f.label :purchased_at, t('purchased_at') %></th>
      <td><%= @commodity.purchased_at %></td>
    </tr>
    <tr>
      <th><%= f.label :cost_centre, t('cost_centre') %></th>
      <td><%= @commodity.procurement_cost_centre %></td>
    </tr>
    <tr>
      <th><%= f.label :target, t('target') %></th>
      <td><%= @commodity.procurement_target %></td>
    </tr>
    <tr>
      <th><%= f.label :project, t('project') %></th>
      <td><%= @commodity.procurement_project %></td>
    </tr>
    <tr>
      <th><%= t('Tili') %></th>
      <td><%= @commodity.procurement_number %></td>
    </tr>
    <tr>
      <th><%= f.label :activated_at, t('activated_at') %></th>
      <td><%= f.date_field :activated_at %></td>
    </tr>
    <tr>
      <th><%= f.label :status, t('status') %></th>
      <td><%= f.select :status, options_for_select(FixedAssets::Commodity.options_for_status, @commodity.status) %></td>
    </tr>
      <th><%= f.label :planned_depreciation_type, t('planned_depreciation_type') %></th>
      <td><%= f.select :planned_depreciation_type, options_for_select(FixedAssets::Commodity.options_for_type, @commodity.planned_depreciation_type) %></td>
    </tr>
    <tr>
      <th><%= f.label :planned_depreciation_amount, t('planned_depreciation_amount') %></th>
      <td><%= f.text_field :planned_depreciation_amount %></td>
    </tr>
    <tr>
      <th><%= f.label :btl_depreciation_type, t('btl_depreciation_type') %></th>
      <td><%= f.select :btl_depreciation_type, options_for_select(FixedAssets::Commodity.options_for_type, @commodity.btl_depreciation_type) %></td>
    </tr>
    <tr>
      <th><%= f.label :btl_depreciation_amount, t('btl_depreciation_amount') %></th>
      <td><%= f.text_field :btl_depreciation_amount %></td>
    </tr>
    <tr>
      <th><%= t('Laatija') %></th>
      <td><%= @commodity.created_by %></td>
    </tr>
    <tr>
      <th><%= t('Luontiaika') %></th>
      <td><%= @commodity.created_at %></td>
    </tr>
    <tr>
      <th><%= t('Muutospvm') %></th>
      <td><%= @commodity.updated_at %></td>
    </tr>
    <tr>
      <th><%= t('Muuttaja') %></th>
      <td><%= @commodity.modified_by %></td>
    </tr>
  </table>
  <br/>
  <% if @commodity.commodity_rows.count > 0 %>
  <font class="head"><%= t('Poistoerät avoimelle tilikaudelle') %></font>
  <br/>
  <br/>
  <table>
  <tr>
  <th>Selite</th>
  <th>Summa</th>
  <th>Tili</th>
  <th>Tapahtumapäivä</th>
  </tr>
  <% @commodity.commodity_rows.each do |rivi| %>
    <tr>
      <td><%= rivi.description %></td>
      <td><%= rivi.amount %></td>
      <td><%= rivi.account %></td>
      <td><%= rivi.transacted_at %></td>
    </tr>
  <% end %>
  <% kokonaismaara = BigDecimal.new 0 %>
  <% @commodity.commodity_rows.each { |x| kokonaismaara += x.amount } %>
  <tr><td colspan='2'><%= t('EVL poistot yhteensä') + ": #{kokonaismaara.to_s} #{@commodity.commodity_rows.count} erässä" %></td></tr>
  </table>
  <br/>

  <% end %>

  <% unless @commodity.voucher.nil? %>
    <% unless @commodity.voucher.rows.count.zero? %>
    <table>
    <tr>
    <th>Selite</th>
    <th>Summa</th>
    <th>Tili</th>
    <th>Tapahtumapäivä</th>
    </tr>
    <% @commodity.voucher.rows.each do |rivi| %>
      <tr>
        <td><%= rivi.selite %></td>
        <td><%= rivi.summa %></td>
        <td><%= rivi.tilino %></td>
        <td><%= rivi.tapvm %></td>
      </tr>
    <% end %>
    <% kokonaismaara2 = BigDecimal.new 0 %>
    <% @commodity.voucher.rows.each { |x| kokonaismaara2 += x.summa } %>
    <tr><td colspan='2'><%= t('SUMU poistot yhteensä') + ": #{kokonaismaara2.to_s} #{@commodity.voucher.rows.count} erässä" %></td></tr>
    </table>
    <br/>
    <% end %>
  <% end %>

  <div class="actions">
    <% text = @commodity.persisted? ? 'Tallenna' : 'Lisää' %>
    <%= f.submit t(text), disable_with: t('Tallentaa') + '...' %>
  </div>
<% end %>
<br/>
<font class="head"><%= t('Liitetyt tiliöinnit') %></font>
<br/><br/>
<%= form_tag fixed_assets_commodities_purchase_orders_path, method: :get do %>
<% summayhteensa = BigDecimal.new 0 %>
<% @commodity.procurement_rows.each {|x| summayhteensa += x.accounting_row.summa rescue 0 } %>
<%=  t('Yhteensä') + " #{@commodity.procurement_rows.count} kpl #{summayhteensa} eur"  %>
<br/><br/>
<%= button_to t('Liitä ostolaskun tiliöinti'), fixed_assets_commodities_purchase_orders_path, method: :get if update_access? %>
<%= button_to t('Liitä tositteen tiliöinti'), fixed_assets_commodities_vouchers_path, method: :get if update_access? %>
<% end %>
<br/>

