<% if @commodity.procurement_rows.present? %>
<br/>
<font class="head"><%= t('Liitetyt hankintakustannukset') %></font>
<br/><br/>
<table>
<tr>
  <th><%= t('Tili') %></th>
  <th><%= t('Summa') %></th>
  <th><%= t('Pvm') %></th>
  <th><%= t('Selite') %></th>
</tr>
<% @commodity.procurement_rows.each do |procrow| %>
  <tr>
  <td><%= procrow.tilino  %></td>
  <td><%= procrow.summa %></td>
  <td><%= procrow.tapvm %></td>
  <td><%= procrow.selite %></td>
  <td class='back'>
    <%= button_to t('Poista'), commodity_unlink_path(@commodity, { voucher_row_id: procrow.tunnus }), method: :post %>
  </td>
  </tr>
<% end %>
</table>

<% end %>
