<%= render "administration/header", text: t('.header') %>
<%= render "administration/notice" %>

<%= button_to t('.button_new'), new_commodity_path, method: :get if update_access? %>

<br/><br/>

<table>

<%= form_tag commodities_path, method: :get do %>
  <tr>
    <th>
      <%= sortable 'name' %>
      <br/>
      <%= text_field_tag :name, params[:name] %>
    </th>
    <th>
      <%= sortable 'description' %>
      <br/>
      <%= text_field_tag :description, params[:description] %>
    </th>
    <th class="back"><%= submit_tag t('.button_search') %></th>
  </tr>
<% end %>

<% @commodities.each do |com| %>
  <tr class="aktiivi">
    <td>
      <% if update_access? %>
        <%= link_to com.name, edit_commodity_path(com.id)  %>
      <% else %>
        <%= com.name %>
      <% end %>
    </td>
    <td><%= com.description %></td>
  </tr>
<% end %>

</table>

<br/>

<%= button_to t('.button_new'), new_commodity_path, method: :get if update_access? %>
