<%= render "administration/header", text: t('.header') %>
<%= render "administration/notice" %>

<%= button_to_new 'fixed_assets/commodity', new_commodity_path %>

<br/><br/>

<%= form_tag commodities_path, method: :get do %>
  <table>
    <tr>
    <th><%= t('.name') %></th>
    <th><%= t('.description') %></th>
    <th><%= t('.status') %></th>
    <th><%= t('.bookkeeping_value_today') %></th>
    </tr>
    <% @commodities.each do |com| %>
      <tr class="aktiivi">
        <td>
          <% if update_access? %>
            <%= link_to com.name, edit_commodity_path(com.id)  %>
          <% else %>
            <%= com.name %>
          <% end %>
        </td>
        <td><%= com.description %></td>
        <td><%= com.status %></td>
        <td><%= com.bookkeeping_value(Date.today)%></td>
      </tr>
    <% end %>
  </table>
<% end %>

<br/>
<% if @commodities.count > 50 %>
  <%= button_to_new 'fixed_assets/commodity', new_commodity_path %>
<% end %>
<br/>
