<%= return_link(FixedAssets::Commodity.model_name.human(count: 2), commodities_path) %>
<br /><br />

<%= return_link(FixedAssets::Commodity.model_name, edit_commodity_path(@commodity)) %>
<br /><br />

<%= render "administration/form_errors", resource: @linkable_row if @linkable_row.present? %>
<%= render "administration/header", text: t('.header') %>
<%= render "administration/notice" %>

<table>
  <tr>
    <th>
      <%= sortable 'tapvm' %>
      <br />
      <%= text_field_tag :tapvm, params[:tapvm] %>
    </th>
    <th>
      <%= sortable 'selite' %>
      <br />
      <%= text_field_tag :selite, params[:selite] %>
    </th>
    <th>
      <%= sortable 'summa' %>
      <br />
      <%= text_field_tag :summa, params[:summa] %>
    </th>
    <th>
      <%= sortable 'tilino' %>
      <br />
      <%= text_field_tag :tilino, params[:tilino] %>
    </th>
    <th class="back"><%= submit_tag t('.button_search') %></th>
  </tr>

  <% @purchase_orders.each do |order_collection| %>
    <% order_collection.each do |order_row| %>
     <% if order_row.commodity_id.present? %>
      <% next %>
    <% end %>
      <tr>
        <td><%= l order_row.tapvm  %></td>
        <td><%= order_row.selite %></td>
        <td><%= order_row.summa  %></td>
        <td><%= order_row.tilino %></td>
        <td class="back">
          <%= button_to t('.button_add'), commodity_link_order_path(@commodity, { voucher_row_id: order_row.tunnus }), method: :post %>
        </td>
      </tr>
    <% end %>
  <% end %>
</table>
