<% return_text = t('Palaa ohjelmaan') + ': ' + t('Hyödykkeet') %>
<%= link_to return_text, commodities_path %>
<br /><br />
<% return_text = t('Palaa ohjelmaan') + ': ' + t('Muokkaa hyödykettä') %>
<%= link_to return_text, edit_commodity_path(@commodity) %>
<br /><br />

<%= render "administration/form_errors", resource: @linkable_row if @linkable_row.present? %>

<% if notice %>
  <font class='ok'><%= t(notice) %></font>
  <br /><br />
<% end %>

<%= render 'header' %>

<font class="head"><%= t('Valitse ostolaskujen tiliöinnit') %></font>
<br /><br />

<table>
  <tr>
    <th>
      <%= sortable 'tunnus' %>
      <br />
      <%= text_field_tag :tunnus, params[:tunnus] %>
    </th>
    <th>
      <%= sortable 'ytunnus' %>
      <br />
      <%= text_field_tag :ytunnus, params[:ytunnus] %>
    </th>
    <th>
      <%= sortable 'nimi' %>
      <br />
      <%= text_field_tag :nimi, params[:nimi] %>
    </th>
    <th>
      <%= sortable 'viesti' %>
      <br />
      <%= text_field_tag :viesti, params[:viesti] %>
    </th>
    <th>
      <%= sortable 'summa' %>
      <br />
      <%= text_field_tag :summa, params[:summa] %>
    </th>
    <th class="back"><%= submit_tag t('Etsi') %></th>
  </tr>

  <% @purchase_orders.each do |po| %>
    <tr>
      <td><%= po.tunnus %></td>
      <td><%= po.ytunnus %></td>
      <td><%= po.nimi %></td>
      <td><%= po.viesti %></td>
      <td><%= po.summa %></td>
    </tr>
    <tr>
    <th>Tunnus</th>
    <th>Summa</th>
    <th>Tili</th>
    </tr>

    <% po.rows.each do |acc| %>
      <tr>
        <td><%= acc.tunnus  %></td>
        <td><%= acc.summa  %></td>
        <td><%= acc.tilino %></td>
        <td class="back">
        <%= form_tag(commodity_purchase_orders_path(@commodity), method: :post) do %>
          <%= hidden_field_tag(:selected_accounting_row, acc.tunnus) %>
          <%= submit_tag('Liitä') %>
        <% end %>
        </td>
      </tr>
    <% end %>
  <% end %>
</table>
