<% return_text = t('Palaa ohjelmaan') + ': ' + t('Hyödykkeet') %>
<%= link_to return_text, commodities_path %>
<br /><br />

<% return_text = t('Palaa ohjelmaan') + ': ' + t('Muokkaa hyödykettä') %>
<%= link_to return_text, edit_commodity_path(@commodity) %>
<br /><br />

<%= render "administration/form_errors", resource: @linkable_row if @linkable_row.present? %>

<% if notice %>
  <font class='ok'><%= t(notice) %></font>
  <br /><br />
<% end %>

<%= render 'header' %>
<font class="head"><%= t('Valitse tositteen tiliöinnit') %></font>
<br /><br />
<table>
<tr>
  <th>
    <%= sortable 'tunnus' %>
    <br />
    <%= text_field_tag :tunnus, params[:tunnus] %>
  </th>
  <th>
    <%= sortable 'ytunnus' %>
    <br />
    <%= text_field_tag :ytunnus, params[:ytunnus] %>
  </th>
  <th>
    <%= sortable 'nimi' %>
    <br />
    <%= text_field_tag :nimi, params[:nimi] %>
  </th>
  <th>
    <%= sortable 'viesti' %>
    <br />
    <%= text_field_tag :viesti, params[:viesti] %>
  </th>
  <th class="back"><%= submit_tag t('Etsi') %></th>
</tr>

<% @vouchers.each do |vou| %>
  <tr>
    <td><%= vou.tunnus %></td>
    <td><%= vou.ytunnus %></td>
    <td><%= vou.nimi %></td>
    <td><%= vou.viesti %></td>
  </tr>
  <tr>
    <th>Tunnus</th>
    <th>Selite</th>
    <th>Summa</th>
    <th>Tili</th>
  </tr>
   <% vou.rows.each do |vourow| %>
   <tr>
    <td><%= vourow.tunnus  %></td>
    <td><%= vourow.selite.html_safe rescue 0 %></td>
    <td><%= vourow.summa  %></td>
    <td><%= vourow.tilino %></td>
    <td class='back'><%= form_tag(commodity_link_voucher_path(@commodity, vourow), method: :post) do %>
    <%= hidden_field_tag(:voucher_row_id, vourow.tunnus) %>
    <%= submit_tag('Liitä') %></td>
    <% end %>
    </tr>
    <% end %>
<% end %>

</table>
<br /><br />
