<%= return_link(FixedAssets::Commodity.model_name.human(count: 2), commodities_path) %>
<br /><br />

<%= return_link(FixedAssets::Commodity.model_name, edit_commodity_path(@commodity)) %>
<br /><br />

<%= render "administration/form_errors", resource: @linkable_row if @linkable_row.present? %>
<%= render "administration/header", text: t('.header') %>
<%= render "administration/notice" %>

<table>
<tr>
  <th>
    <%= sortable 'tapvm' %>
    <br/>
    <%= text_field_tag :tapvm, params[:tapvm] %>
  </th>
  <th>
    <%= sortable 'selite' %>
    <br/>
    <%= text_field_tag :selite, params[:selite] %>
  </th>
  <th>
    <%= sortable 'summa' %>
    <br/>
    <%= text_field_tag :summa, params[:summa] %>
  </th>
  <th>
    <%= sortable 'tilino' %>
    <br/>
    <%= text_field_tag :tilino, params[:tilino] %>
  </th>
  <th class="back"><%= submit_tag t('.button_search') %></th>
</tr>
<% @vouchers.each do |voucher_collection| %>
<% voucher_collection.each do |voucher_row| %>
  <% if voucher_row.commodity_id.present? %>
    <% next %>
  <% end %>
  <tr>
  <td><%= l voucher_row.tapvm  %></td>
  <td><%= voucher_row.selite.html_safe rescue 0 %></td>
  <td><%= voucher_row.summa  %></td>
  <td><%= voucher_row.tilino %></td>
  <td class='back'>
    <%= button_to t('.button_add'), commodity_link_voucher_path(@commodity, { voucher_row_id: voucher_row.tunnus }), method: :post %>
  </td>
  </tr>
<% end %>
<% end %>
</table>
<br/><br/>
